<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/headerfooter.css" />
    <title>Footer</title>
  </head>

  <body>
    <footer>
      <div>
        <p>&copy; 2023 Colony Website.</p>
        <ul>
          <li>전화번호 : 010-태민-번호</li>
          <li>이메일 : 태민@주소.com</li>
          <li>인스타그램 : @colony_dau</li>
        </ul>
      </div>
    </footer>
  </body>
</html>
