<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/headerfooter.css" />
    <title>Footer</title>
  </head>

  <footer>
    <div class="f1">
      <a href="/post-list">
        <img class="logo" src="https://colony-web-bucket.s3.ap-northeast-2.amazonaws.com/colony2.jpg" />
      </a>
    </div>

    <div class="f2">
      <div class="title">Leaders</div>
      회장 : 정성윤<br />
      부회장 : 최유현<br />
    </div>

    <div class="f3">
      <div class="title">Contacts</div>
      이메일 : <a href="mailto:colonydonga13@gmail.com">colonydonga13@gmail.com</a><br />
      인스타 :
      <a href="https://www.instagram.com/colony_dau/" target="_blank">@colony_dau</a>
    </div>

    <div class="f4">
      <div class="title">Address</div>
      부산광역시 사하구 낙동대로 550번길 37 S03-414호
    </div>
  </footer>
</html>
