.frame {
  padding: 1rem 0rem 1rem 0rem;
  width: 100%;

  .container {
    .item1 {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding-bottom: 1.2rem;

      .answer_enroll {
        align-items: center;
        background-color: #b0b0b0;
        border-radius: 1.4rem;
        display: flex;
        font-family: Baloo Bhai, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
        height: 3.5rem;
        justify-content: center;
        margin: 0rem 30rem 1rem 30rem;
        width: 30rem;
      }
      .text_box {
        background-color: #f5f5f7;
        border: solid 0.1rem rgba(0, 0, 0, 0.2);
        border-radius: 1.4rem;
        box-sizing: border-box;
        color: rgba(12, 11, 11, 0.75);
        font-family: Baloo Bhai, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
        margin-right: 0.05rem;
        padding: 0.8rem 1.8rem;
        resize: none;
      }
    }
    .item2 {
      display: flex;
      justify-content: center;

      .add_file {
        background-color: #c8c8c8;
        border-radius: 0.9rem;
        color: #0c0b0b;
        flex-shrink: 0;
        font-family: Baloo Bhai, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
        margin: 0rem 13rem 0rem 0rem;
        padding: 0.8rem 1.8rem;
        width: 50rem;
      }
      .submit_btn {
        align-items: center;
        background-color: rgba(111, 225, 92, 0.8);
        border: none;
        border-radius: 0.6rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        color: #0c0b0b;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 700;
        height: 3.3rem;
        justify-content: center;
        margin-right: 1.4rem;
        width: 12rem;
      }
      .cancel_btn {
        align-items: center;
        background-color: rgba(253, 23, 23, 0.6);
        border: none;
        border-radius: 0.6rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        color: #0c0b0b;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 700;
        height: 3.3rem;
        justify-content: center;
        width: 12rem;
      }
    }
    #file-list {
      list-style: none;
    }
  }
}
