/* ν—¤λ” */
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

:root {
  --baseColor: #333;
  --blueColor: #22aee5;
  --baseContainer: 79.375rem;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(255 255 255 / 86%);
  font-size: 16px;
  font-family: 'NanumSquare', sans-serif;
  color: var(--baseColor);
  z-index: 9999;
}
header img {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  margin-left: 13rem;
}
header .colony {
  font-weight: bold;
  font-size: 1.3rem;
  position: absolute;
  left: 18rem;
}
header .welcome {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header span {
  font-weight: bold;
}
header .nav {
  margin-right: 10rem;
}
header nav ul {
  display: flex;
  text-align: center;
  list-style: none;
  padding: 0;
}
header nav ul li {
  padding: 0 10px;
  width: 100px;
}
header nav ul li a {
  position: relative;
  display: inline-block;
  line-height: 5rem;
  font-weight: bold;
  font-size: 1.0625rem;
}
header nav ul li:hover a {
  color: var(--blueColor);
}
header nav ul li a:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--blueColor);
  left: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}
header nav ul li:hover a:after {
  opacity: 1;
}
header a:link,
header a:visited,
header a:hover,
header a:active {
  color: var(--baseColor);
  text-decoration: none;
}
header nav ul li {
  position: relative;
}
header nav ul li::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5px;
  height: 50px;
  background-color: #ccc;
  left: 0;
}
header nav ul li:last-child::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5px;
  height: 50px;
  background-color: #ccc;
  right: 0;
}
body {
  padding-top: 100px;
}
/* ν‘Έν„° */
footer {
  text-align: center;
}
footer li {
  list-style: none;
}
