/* 헤더 */
.header-box {
  background-color: #ffffff;
  height: 7rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.menu-box {
  height: 7rem;
  position: relative;
  width: 100%;
}
.shadow {
  background-color: rgba(12, 11, 11, 0.6999999881);
  filter: blur(3rem);
  height: 7rem;
  left: 0.1rem;
  opacity: 0.7;
  position: absolute;
  top: 0.8728rem;
  width: 128rem;
}
.big-box {
  background-color: #0c0b0b;
  height: 10rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 143.9999rem;
}
.mini-logo {
  border-radius: 1.25rem;
  height: 5rem;
  width: 5rem;
  left: 3rem;
  object-fit: cover;
  position: absolute;
  top: 1rem;
  vertical-align: top;
}
.welcome-box {
  align-items: center;
  background-color: #d9d9d9;
  color: #000000;
  display: flex;
  font-family: Baloo Bhai, 'Source Sans Pro';
  font-size: 1rem;
  font-weight: 4;
  height: 2.5rem;
  justify-content: center;
  left: 11rem;
  line-height: 1.2575;
  position: absolute;
  top: 2.3rem;
  white-space: nowrap;
  width: 20rem;
}
.mypage-box {
  align-items: center;
  background-color: #d9d9d9;
  color: #000000;
  display: flex;
  font-family: Baloo Bhai, 'Source Sans Pro';
  font-size: 1rem;
  font-weight: 4;
  height: 2.5rem;
  justify-content: center;
  right: 0.7rem;
  line-height: 1.2575;
  position: absolute;
  top: 0.7rem;
  white-space: nowrap;
  width: 13rem;
}
.logout-box {
  align-items: center;
  background-color: #d9d9d9;
  color: #000000;
  display: flex;
  font-family: Baloo Bhai, 'Source Sans Pro';
  font-size: 1rem;
  font-weight: 4;
  height: 2.5rem;
  justify-content: center;
  right: 0.7rem;
  line-height: 1.2575;
  position: absolute;
  bottom: 0.7rem;
  white-space: nowrap;
  width: 13rem;
}
.login-box {
  align-items: center;
  background-color: #d9d9d9;
  color: #000000;
  display: flex;
  font-family: Baloo Bhai, 'Source Sans Pro';
  font-size: 1rem;
  font-weight: 4;
  height: 2.5rem;
  justify-content: center;
  right: 0.7rem;
  line-height: 1.2575;
  position: absolute;
  top: 2.25rem;
  white-space: nowrap;
  width: 13rem;
}
a {
  text-decoration: none;
}
/* 푸터 */
footer {
  text-align: center;
}
footer li {
  list-style: none;
}





.notification-box {
  /* 오른쪽 상단에 배치하도록 조정합니다. */
  position: absolute;
  top: 1.5rem;
  right: 3rem;
  transform: translateY(-50%);
}

#notification-icon {
  position: relative;
  display: inline-block;
  padding: 0.5rem;
  color: #333;
}