/* ν—¤λ” */
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
:root {
  --baseColor: #333;
  --blueColor: #22aee5;
  --baseContainer: 79.375rem;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(255 255 255 / 86%);
  font-size: 16px;
  font-family: 'NanumSquare', sans-serif;
  color: var(--baseColor);
  z-index: 9999;
}
header img {
  width: 14rem;
  height: 4rem;
  cursor: pointer;
  margin-left: 3rem;
}
header .welcome {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header span {
  font-weight: bold;
}
header .nav {
  margin-right: 10rem;
}
header nav ul {
  display: flex;
  text-align: center;
  list-style: none;
  padding: 0;
}
header nav ul li {
  padding: 0 10px;
  width: 100px;
}
header nav ul li a {
  position: relative;
  display: inline-block;
  line-height: 5rem;
  font-weight: bold;
  font-size: 1.0625rem;
}
header nav ul li:hover a {
  color: var(--blueColor);
}
header nav ul li a:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--blueColor);
  left: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}
header nav ul li:hover a:after {
  opacity: 1;
}
header a:link,
header a:visited,
header a:hover,
header a:active {
  color: var(--baseColor);
  text-decoration: none;
}
header nav ul li {
  position: relative;
}
header nav ul li::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5px;
  height: 50px;
  background-color: #ccc;
  left: 0;
}
header nav ul li:last-child::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5px;
  height: 50px;
  background-color: #ccc;
  right: 0;
}
body {
  padding-top: 100px;
}
.notification-container {
  position: absolute;
  top: 1.5rem;
  right: 3rem;
  transform: translateY(-50%);
}
#notification-icon {
  position: relative;
  display: inline-block;
  padding: 0.5rem;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
}
.notification-button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  padding: 0;
  line-height: inherit;
  display: inline-flex;
  align-items: center;
  outline: none;
}
#notification-icon:hover,
.notification-button:hover .fa-bell {
  color: #7367f0;
}
.notification-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 18px;
  height: 18px;
  background-color: #ff4136;
  color: #ffffff;
  border-radius: 50%;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}
.show-badge {
  display: flex;
}
.header .welcome {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -45%);
  text-align: center;
}
.notification-container {
  position: absolute;
  top: 50%;
  right: 3rem;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .header .welcome {
    left: 45%;
  }
  .notification-container {
    right: 2.5rem;
  }
}
.header-notification-dropdown {
  position: absolute;
  top: 60px;
  right: 10px;
  min-width: 400px;
  max-width: 450px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  max-height: 300px;
  overflow-y: auto;
  z-index: 9999;
}
.header-notification-dropdown::-webkit-scrollbar {
  width: 10px;
}
.header-notification-dropdown::-webkit-scrollbar-track {
  background-color: #cccccc;
  border-radius: 10px;
}
.header-notification-dropdown::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
}
.notification-item {
  padding: 8px 0;
  border-bottom: 2px solid #d3d3d3;
}
.notification-item:last-child {
  border-bottom: none;
}
.notification-item a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}
.read-notification {
  background-color: #f1f1f1;
}
.unread-notification {
  background-color: #ffffff;
}
.notification-arrive-time {
  color: #999;
  font-size: 13px;
}
.delete-btn {
  cursor: pointer;
  color: #aaa;
  float: right;
  margin-top: 5px;
}
.notification-action-btn {
  cursor: pointer;
  padding: 7px 14px;
  margin: 8px 4px;
  font-size: 13px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  color: #333;
  transition: all 0.3s ease;
  font-weight: 500;
}
.notification-action-btn:hover {
  background-color: #e5e5e5;
  color: #555;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* ν‘Έν„° */
footer {
  text-align: center;
}
footer li {
  list-style: none;
}
