body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  height: 25rem;
  width: 25rem;
}
.login-header {
  align-items: center;
  background-color: #f5f5f7;
  border-radius: 0.8rem;
  color: #0c0b0b;
  display: flex;
  font-family: 'Baloo Bhai', 'Source Sans Pro';
  font-size: 2rem;
  font-weight: 400;
  height: 4.8rem;
  justify-content: center;
  line-height: 1.2;
  margin-bottom: 1rem;
  white-space: nowrap;
  width: 12rem;
}

.text-field-top {
  color: #828282;
  flex-shrink: 0;
  font-family: Nunito Sans, 'Source Sans Pro';
  font-weight: 600;
  line-height: 1.3625;
  margin-bottom: 0.3rem;
  white-space: nowrap;
  text-align: left;
}

.text-field {
  border: solid 0.1rem #ded2d9;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: black;
  flex-shrink: 0;
  font-family: Nunito Sans, 'Source Sans Pro';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  padding: 1.3rem 1rem 1.2rem 1rem;
  white-space: nowrap;
  width: 23rem;
  height: 1rem;
  margin-bottom: 1rem;
}

.login-btn1 {
  align-items: center;
  background-color: #0c0b0b;
  border-radius: 0.6rem;
  color: #ffffff;
  display: flex;
  flex-shrink: 0;
  font-family: Nunito Sans, 'Source Sans Pro';
  font-size: 1rem;
  font-weight: 800;
  height: 5rem;
  justify-content: center;
  line-height: 1.3625;
  white-space: nowrap;
  width: 23rem;
  height: 2.7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
}

.login-btn2 {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6200000048);
  border-radius: 0.6rem;
  color: #ffffff;
  display: flex;
  flex-shrink: 0;
  font-family: Nunito Sans, 'Source Sans Pro';
  font-size: 1rem;
  font-weight: 800;
  height: 5rem;
  justify-content: center;
  line-height: 1.3625;
  white-space: nowrap;
  width: 23rem;
  height: 2.7rem;
  border: none;
}

.signup-btn {
  color: #7f265b;
  font-family: Nunito Sans, 'Source Sans Pro';
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: block;
}
