/* .item--3hh {
  background-color: #ffffff;
  box-sizing: border-box;
  height: 203.5rem;
  overflow: hidden;
  padding: 5rem 7.5rem;
  position: relative;
  width: 100%;

  .item--pby {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 182.8rem;
    width: 119.8991rem;

    .auto-group-4gnb-6C7 {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      padding-bottom: 4.7376rem;
      width: 100%;

      .item--1K5 {
        border-radius: 1.5rem;
        flex-shrink: 0;
        height: 6.7063rem;
        margin: 0rem 35.223rem 3.11rem 35.223rem;
        position: relative;
        width: calc(100% - 70.4458rem);

        .rectangle-19-6LX {
          background-color: #b0b0b0;
          border-radius: 1.5rem;
          height: 6.3175rem;
          left: 0;
          position: absolute;
          top: 0.3888rem;
          width: 49.1505rem;
        }
        .item--aFh {
          align-items: center;
          color: #000000;
          display: flex;
          font-family: Inter, 'Source Sans Pro';
          font-size: 4.8rem;
          font-weight: 700;
          height: 1.8rem;
          justify-content: center;
          left: 10.6267rem;
          line-height: 0.375;
          position: absolute;
          top: 2.4531rem;
          white-space: nowrap;
          width: 28.2rem;
        }
      }
      .auto-group-ccp7-yod {
        align-items: flex-end;
        display: flex;
        flex-shrink: 0;
        margin: 0rem 0rem 3.277rem 0rem;
        width: calc(100% - 0rem);

        .item--tvb {
          border-radius: 1.3rem;
          flex-shrink: 0;
          height: 6.5119rem;
          margin-right: 21.1943rem;
          position: relative;
          width: 49.5542rem;

          .rectangle-20-Dhy {
            background-color: #d9d9d9;
            border-radius: 1.3rem;
            height: 6.3175rem;
            left: 0;
            position: absolute;
            top: 0;
            width: 49.1505rem;
          }
          .item--jJw {
            align-items: center;
            color: #000000;
            display: flex;
            font-family: Inter, 'Source Sans Pro';
            font-size: 4.8rem;
            font-weight: 700;
            height: 1.8rem;
            justify-content: center;
            left: 21.978rem;
            line-height: 0.375;
            position: absolute;
            top: 2.3559rem;
            white-space: nowrap;
            width: 5.8rem;
          }
        }
        .item--zkf {
          border-radius: 1.3rem;
          flex-shrink: 0;
          height: 6.5119rem;
          margin-bottom: 0.1944rem;
          position: relative;
          width: 49.1505rem;

          .rectangle-24-86B {
            background-color: #d9d9d9;
            border-radius: 1.3rem;
            height: 6.3175rem;
            left: 0;
            position: absolute;
            top: 0.1944rem;
            width: 49.1505rem;
          }
          .item--fM1 {
            align-items: center;
            color: #000000;
            display: flex;
            font-family: Inter, 'Source Sans Pro';
            font-size: 4.8rem;
            font-weight: 700;
            height: 1.8rem;
            justify-content: center;
            left: 14.7262rem;
            line-height: 0.375;
            position: absolute;
            top: 2.3559rem;
            white-space: nowrap;
            width: 19.9rem;
          }
        }
      }
      .item--7D1 {
        align-items: center;
        background-color: #f5f5f7;
        border: solid 0.1rem rgba(0, 0, 0, 0.2099999934);
        border-radius: 1.3rem;
        box-sizing: border-box;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4.8rem;
        font-weight: 700;
        height: 44rem;
        justify-content: center;
        line-height: 0.375;
        margin: 0rem 0rem 3rem 0.199rem;
        white-space: nowrap;
        width: 119.7rem;
      }
      .item--wC3 {
        background-color: #f5f5f7;
        border: solid 0.1rem rgba(0, 0, 0, 0.2099999934);
        border-radius: 1.3rem;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 44rem;
        margin: 0rem 0rem 4.7rem 0.199rem;
        padding: 18.482rem 31.387rem 18.318rem 32.013rem;
        width: 119.7rem;

        .item--q2X {
          align-items: center;
          color: #000000;
          display: flex;
          font-family: Inter, 'Source Sans Pro';
          font-size: 4.8rem;
          font-weight: 700;
          justify-content: center;
          line-height: 0.375;
          max-width: 56.3rem;
        }
      }
      .auto-group-t7ks-SHD {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: 4.7624rem;
        margin-left: 46.2735rem;

        .auto-group-ws2t-Ayu {
          align-items: center;
          box-sizing: border-box;
          display: flex;
          flex-shrink: 0;
          height: 100%;
          padding-right: 5.2481rem;

          .item--uwV {
            border-radius: 1.5rem;
            flex-shrink: 0;
            height: calc(100% - 0rem);
            margin: 0rem 3.331rem 0rem 0rem;
            position: relative;
            width: 21.2952rem;

            .rectangle-22-2WK {
              background-color: #d9d9d9;
              border-radius: 1.5rem;
              height: 4.6903rem;
              left: 0.0437rem;
              position: absolute;
              top: 0.0721rem;
              width: 21.2516rem;
            }
            .item--khD {
              align-items: center;
              color: #000000;
              display: flex;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 700;
              height: 1.8rem;
              justify-content: center;
              left: 6.3976rem;
              line-height: 0.75;
              position: absolute;
              top: 1.4326rem;
              white-space: nowrap;
              width: 8.5rem;
            }
          }
          .item--EsH {
            border-radius: 1.5rem;
            flex-shrink: 0;
            height: calc(100% - 0rem);
            margin-bottom: 0rem;
            position: relative;
            width: 21.2952rem;

            .rectangle-22-NyV {
              background-color: #d9d9d9;
              border-radius: 1.5rem;
              height: 4.6903rem;
              left: 0.0437rem;
              position: absolute;
              top: 0.0721rem;
              width: 21.2516rem;
            }
            .item--iXZ {
              align-items: center;
              color: #000000;
              display: flex;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 700;
              height: 1.8rem;
              justify-content: center;
              left: 7.7476rem;
              line-height: 0.75;
              position: absolute;
              top: 1.4326rem;
              white-space: nowrap;
              width: 5.8rem;
            }
          }
        }
        .item--QQP {
          border-radius: 1.5rem;
          flex-shrink: 0;
          height: 100%;
          margin-right: 2.2204rem;
          position: relative;
          width: 10.0925rem;

          .rectangle-25-kUF {
            background-color: #d9d9d9;
            border-radius: 1.5rem;
            height: 4.7624rem;
            left: 0.0694rem;
            position: absolute;
            top: 0;
            width: 10.0231rem;
          }
          .item--U9M {
            align-items: center;
            color: #000000;
            display: flex;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 700;
            height: 3.2rem;
            justify-content: center;
            left: 3.5963rem;
            line-height: 1.3;
            position: absolute;
            top: 0.7812rem;
            white-space: nowrap;
            width: 2.9rem;
          }
        }
        .item--MD9 {
          border-radius: 1.5rem;
          flex-shrink: 0;
          height: 100%;
          position: relative;
          width: 10.0925rem;

          .rectangle-26-tis {
            background-color: #d9d9d9;
            border-radius: 1.5rem;
            height: 4.7624rem;
            left: 0;
            position: absolute;
            top: 0;
            width: 10.0925rem;
          }
          .item--2q5 {
            align-items: center;
            color: #000000;
            display: flex;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 700;
            height: 1.8rem;
            justify-content: center;
            left: 3.6312rem;
            line-height: 0.75;
            position: absolute;
            top: 1.5784rem;
            white-space: nowrap;
            width: 2.9rem;
          }
        }
      }
    }
    .item--7rX {
      background-color: #f5f5f7;
      border-radius: 1.3rem;
      flex-shrink: 0;
      height: 57.8rem;
      position: relative;
      width: 100%;

      .item--FC3 {
        align-items: center;
        color: #000000;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 700;
        height: 1.8rem;
        justify-content: center;
        left: 7.6rem;
        line-height: 0.5625;
        position: absolute;
        top: 6.15rem;
        white-space: nowrap;
        width: 3.9rem;
      }
      .item--92X {
        align-items: center;
        color: #000000;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        height: 1.8rem;
        justify-content: center;
        left: 8.1rem;
        line-height: 0.75;
        position: absolute;
        top: 10.4rem;
        white-space: nowrap;
        width: 8.9rem;
      }
      .item--dTV {
        align-items: center;
        color: #000000;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 700;
        height: 1.8rem;
        justify-content: center;
        left: 10.9rem;
        line-height: 0.5625;
        position: absolute;
        top: 16.55rem;
        white-space: nowrap;
        width: 3.9rem;
      }
      .item--Lco {
        align-items: center;
        color: #000000;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        height: 1.8rem;
        justify-content: center;
        left: 12.1rem;
        line-height: 0.75;
        position: absolute;
        top: 20.8rem;
        white-space: nowrap;
        width: 10.3rem;
      }
      .item--dbu {
        height: 2rem;
        left: 7.1rem;
        object-fit: contain;
        position: absolute;
        top: 14rem;
        vertical-align: top;
        width: 2rem;
      }
      .line-3-ALw {
        background-color: #000000;
        height: 0.1rem;
        left: 5.7971rem;
        position: absolute;
        top: 24.5568rem;
        width: 106.5057rem;
      }
    }
  }
} */
