/* .item--3hh {
  background-color: #ffffff;
  box-sizing: border-box;
  height: 203.5rem;
  overflow: hidden;
  padding: 5rem 7.5rem;
  position: relative;
  width: 100%;

  .item--pby {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 182.8rem;
    width: 119.8991rem;

    .auto-group-4gnb-6C7 {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      padding-bottom: 4.7376rem;
      width: 100%;

      .item--1K5 {
        border-radius: 1.5rem;
        flex-shrink: 0;
        height: 6.7063rem;
        margin: 0rem 35.223rem 3.11rem 35.223rem;
        position: relative;
        width: calc(100% - 70.4458rem);

        .rectangle-19-6LX {
          background-color: #b0b0b0;
          border-radius: 1.5rem;
          height: 6.3175rem;
          left: 0;
          position: absolute;
          top: 0.3888rem;
          width: 49.1505rem;
        }
        .item--aFh {
          align-items: center;
          color: #000000;
          display: flex;
          font-family: Inter, 'Source Sans Pro';
          font-size: 4.8rem;
          font-weight: 700;
          height: 1.8rem;
          justify-content: center;
          left: 10.6267rem;
          line-height: 0.375;
          position: absolute;
          top: 2.4531rem;
          white-space: nowrap;
          width: 28.2rem;
        }
      }
      .auto-group-ccp7-yod {
        align-items: flex-end;
        display: flex;
        flex-shrink: 0;
        margin: 0rem 0rem 3.277rem 0rem;
        width: calc(100% - 0rem);

        .item--tvb {
          border-radius: 1.3rem;
          flex-shrink: 0;
          height: 6.5119rem;
          margin-right: 21.1943rem;
          position: relative;
          width: 49.5542rem;

          .rectangle-20-Dhy {
            background-color: #d9d9d9;
            border-radius: 1.3rem;
            height: 6.3175rem;
            left: 0;
            position: absolute;
            top: 0;
            width: 49.1505rem;
          }
          .item--jJw {
            align-items: center;
            color: #000000;
            display: flex;
            font-family: Inter, 'Source Sans Pro';
            font-size: 4.8rem;
            font-weight: 700;
            height: 1.8rem;
            justify-content: center;
            left: 21.978rem;
            line-height: 0.375;
            position: absolute;
            top: 2.3559rem;
            white-space: nowrap;
            width: 5.8rem;
          }
        }
        .item--zkf {
          border-radius: 1.3rem;
          flex-shrink: 0;
          height: 6.5119rem;
          margin-bottom: 0.1944rem;
          position: relative;
          width: 49.1505rem;

          .rectangle-24-86B {
            background-color: #d9d9d9;
            border-radius: 1.3rem;
            height: 6.3175rem;
            left: 0;
            position: absolute;
            top: 0.1944rem;
            width: 49.1505rem;
          }
          .item--fM1 {
            align-items: center;
            color: #000000;
            display: flex;
            font-family: Inter, 'Source Sans Pro';
            font-size: 4.8rem;
            font-weight: 700;
            height: 1.8rem;
            justify-content: center;
            left: 14.7262rem;
            line-height: 0.375;
            position: absolute;
            top: 2.3559rem;
            white-space: nowrap;
            width: 19.9rem;
          }
        }
      }
      .item--7D1 {
        align-items: center;
        background-color: #f5f5f7;
        border: solid 0.1rem rgba(0, 0, 0, 0.2099999934);
        border-radius: 1.3rem;
        box-sizing: border-box;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4.8rem;
        font-weight: 700;
        height: 44rem;
        justify-content: center;
        line-height: 0.375;
        margin: 0rem 0rem 3rem 0.199rem;
        white-space: nowrap;
        width: 119.7rem;
      }
      .item--wC3 {
        background-color: #f5f5f7;
        border: solid 0.1rem rgba(0, 0, 0, 0.2099999934);
        border-radius: 1.3rem;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 44rem;
        margin: 0rem 0rem 4.7rem 0.199rem;
        padding: 18.482rem 31.387rem 18.318rem 32.013rem;
        width: 119.7rem;

        .item--q2X {
          align-items: center;
          color: #000000;
          display: flex;
          font-family: Inter, 'Source Sans Pro';
          font-size: 4.8rem;
          font-weight: 700;
          justify-content: center;
          line-height: 0.375;
          max-width: 56.3rem;
        }
      }
      .auto-group-t7ks-SHD {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: 4.7624rem;
        margin-left: 46.2735rem;

        .auto-group-ws2t-Ayu {
          align-items: center;
          box-sizing: border-box;
          display: flex;
          flex-shrink: 0;
          height: 100%;
          padding-right: 5.2481rem;

          .item--uwV {
            border-radius: 1.5rem;
            flex-shrink: 0;
            height: calc(100% - 0rem);
            margin: 0rem 3.331rem 0rem 0rem;
            position: relative;
            width: 21.2952rem;

            .rectangle-22-2WK {
              background-color: #d9d9d9;
              border-radius: 1.5rem;
              height: 4.6903rem;
              left: 0.0437rem;
              position: absolute;
              top: 0.0721rem;
              width: 21.2516rem;
            }
            .item--khD {
              align-items: center;
              color: #000000;
              display: flex;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 700;
              height: 1.8rem;
              justify-content: center;
              left: 6.3976rem;
              line-height: 0.75;
              position: absolute;
              top: 1.4326rem;
              white-space: nowrap;
              width: 8.5rem;
            }
          }
          .item--EsH {
            border-radius: 1.5rem;
            flex-shrink: 0;
            height: calc(100% - 0rem);
            margin-bottom: 0rem;
            position: relative;
            width: 21.2952rem;

            .rectangle-22-NyV {
              background-color: #d9d9d9;
              border-radius: 1.5rem;
              height: 4.6903rem;
              left: 0.0437rem;
              position: absolute;
              top: 0.0721rem;
              width: 21.2516rem;
            }
            .item--iXZ {
              align-items: center;
              color: #000000;
              display: flex;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 700;
              height: 1.8rem;
              justify-content: center;
              left: 7.7476rem;
              line-height: 0.75;
              position: absolute;
              top: 1.4326rem;
              white-space: nowrap;
              width: 5.8rem;
            }
          }
        }
        .item--QQP {
          border-radius: 1.5rem;
          flex-shrink: 0;
          height: 100%;
          margin-right: 2.2204rem;
          position: relative;
          width: 10.0925rem;

          .rectangle-25-kUF {
            background-color: #d9d9d9;
            border-radius: 1.5rem;
            height: 4.7624rem;
            left: 0.0694rem;
            position: absolute;
            top: 0;
            width: 10.0231rem;
          }
          .item--U9M {
            align-items: center;
            color: #000000;
            display: flex;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 700;
            height: 3.2rem;
            justify-content: center;
            left: 3.5963rem;
            line-height: 1.3;
            position: absolute;
            top: 0.7812rem;
            white-space: nowrap;
            width: 2.9rem;
          }
        }
        .item--MD9 {
          border-radius: 1.5rem;
          flex-shrink: 0;
          height: 100%;
          position: relative;
          width: 10.0925rem;

          .rectangle-26-tis {
            background-color: #d9d9d9;
            border-radius: 1.5rem;
            height: 4.7624rem;
            left: 0;
            position: absolute;
            top: 0;
            width: 10.0925rem;
          }
          .item--2q5 {
            align-items: center;
            color: #000000;
            display: flex;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 700;
            height: 1.8rem;
            justify-content: center;
            left: 3.6312rem;
            line-height: 0.75;
            position: absolute;
            top: 1.5784rem;
            white-space: nowrap;
            width: 2.9rem;
          }
        }
      }
    }
    .item--7rX {
      background-color: #f5f5f7;
      border-radius: 1.3rem;
      flex-shrink: 0;
      height: 57.8rem;
      position: relative;
      width: 100%;

      .item--FC3 {
        align-items: center;
        color: #000000;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 700;
        height: 1.8rem;
        justify-content: center;
        left: 7.6rem;
        line-height: 0.5625;
        position: absolute;
        top: 6.15rem;
        white-space: nowrap;
        width: 3.9rem;
      }
      .item--92X {
        align-items: center;
        color: #000000;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        height: 1.8rem;
        justify-content: center;
        left: 8.1rem;
        line-height: 0.75;
        position: absolute;
        top: 10.4rem;
        white-space: nowrap;
        width: 8.9rem;
      }
      .item--dTV {
        align-items: center;
        color: #000000;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 700;
        height: 1.8rem;
        justify-content: center;
        left: 10.9rem;
        line-height: 0.5625;
        position: absolute;
        top: 16.55rem;
        white-space: nowrap;
        width: 3.9rem;
      }
      .item--Lco {
        align-items: center;
        color: #000000;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        height: 1.8rem;
        justify-content: center;
        left: 12.1rem;
        line-height: 0.75;
        position: absolute;
        top: 20.8rem;
        white-space: nowrap;
        width: 10.3rem;
      }
      .item--dbu {
        height: 2rem;
        left: 7.1rem;
        object-fit: contain;
        position: absolute;
        top: 14rem;
        vertical-align: top;
        width: 2rem;
      }
      .line-3-ALw {
        background-color: #000000;
        height: 0.1rem;
        left: 5.7971rem;
        position: absolute;
        top: 24.5568rem;
        width: 106.5057rem;
      }
    }
  }
} */
/* 
/* Reset CSS */
body,
h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: 'Arial', sans-serif;
  color: #333;
  text-decoration: none;
}

/* Layout */
header {
  background-color: #f5f5f5;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  background-color: #333;
  padding: 10px;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
}

main {
  margin: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.question {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.question h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.question p {
  margin-bottom: 5px;
}

.question a {
  color: #333;
  font-weight: bold;
}

footer {
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
}

/* ㄴㄴ11111111111111111111111111 */
.qa-item-content {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  height: auto;
  display: block;
  white-space: pre-wrap;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.qa-question {
  font-weight: bold;
}
.qa-detail-content {
  margin-top: 5px;
}
.qa-date {
  color: gray;
  font-style: italic;
  margin-top: 5px;
}

/* 드롭다운 버튼 구현!! */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  align-items: center;
  background-color: #00a629;
  border-radius: 0.6rem;
  color: #ffffff;
  display: flex;
  flex-shrink: 0;
  font-family: Nunito Sans, 'Source Sans Pro';
  font-size: 0.8rem;
  font-weight: 600;
  height: 3rem;
  justify-content: center;
  line-height: 1.3625;
  margin-bottom: 1.45rem;
  white-space: nowrap;
  width: 3rem;
  height: 2rem;
  margin-top: 1rem;
}

.select1 {
  align-items: center;
  background-color: #000000;
  border-radius: 0.6rem;
  color: #ffffff;

  flex-shrink: 0;
  font-family: Nunito Sans, 'Source Sans Pro';
  font-size: 0.8rem;
  font-weight: 600;
  height: 3rem;
  justify-content: center;
  line-height: 1.3625;
  margin-bottom: 1.45rem;
  white-space: nowrap;
  width: 4rem;
  height: 2rem;
  margin-top: 1rem;
}

/* 따온거 */
html {
  font-family: 'Noto Sans KR', sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:link {
  color: lightblue;
}

/* 라이브러리 */
.con {
  margin: 0 auto;
}

.img-box > img {
  width: 100%;
  display: block;
}

.row::after {
  content: '';
  display: block;
  clear: both;
}

.cell {
  float: left;
  box-sizing: border-box;
}

.cell-right {
  float: right;
  box-sizing: border-box;
}

.margin-0-auto {
  margin: 0 auto;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.text-align-center {
  text-align: center;
}

.line-height-0-ch-only {
  line-height: 0;
}

.line-height-0-ch-only > * {
  line-height: normal;
}

.relative {
  position: relative;
}

.absolute-left {
  position: absolute;
  left: 0;
}

.absolute-right {
  position: absolute;
  right: 0;
}

.absolute-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* 커스텀 */
/* 반응형 레이아웃 */
.con {
  max-width: 950px;
}

.con-min-width {
  min-width: 320px;
}

.top-menu a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
  font-size: 1.2rem;
}

html,
body {
  overflow-x: hidden;
}

.table-common > table {
  width: 10rem;
  border-collapse: collapse;
}

.table-common .btn-box {
  text-align: center;
}

.table-common > table th,
.table-common > table td {
  border: 1px solid black;
  padding: 13px;
}

.article-list table {
  border: none;
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
}

.article-list > table th,
.article-list > table td {
  border: none;
}

.article-list > table td {
  border-bottom: 1px solid lightgray;
}

.article-list > table thead {
  border-bottom: 2px solid lightgray;
  background-color: #f5f5f5;
}

.article-detail {
  border: 2px solid lightgray;
}

.article-detail > table {
  border: none;
  width: calc(100% - 100px);
}

.article-detail > table th,
.article-detail > table td {
  border: none;
}

.article-detail > table tr:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.article-detail > table tr:not(.article-body),
.article-detail > table tr:not(.article-body) > td {
  height: 20px;
  font-size: 0.8rem;
}

.article-detail > table tr.article-title > td {
  height: 40px;
  font-weight: bold;
  font-size: 1.2rem;
}

.article-detail > table td:last-child {
  padding-right: 100px;
}

.article-detail > .article-writer {
  width: 100px;
  height: 102px;
  background-color: lightgray;
  border-bottom: 1px solid lightgray;
  text-align: center;
}

.article-detail > .article-writer .writer-icon {
  margin: 0 auto;
  background-color: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.reply {
  margin-top: 20px;
  border: 2px solid lightgray;
  padding: 15px;
  box-sizing: border-box;
}

.reply-form {
  padding: 10px;
}

.reply-form > form input[type='text'] {
  width: 200px;
}

.reply-form > form textarea {
  width: calc(100% - 100px);
  min-height: 40px;
}

.reply-form > form input[type='submit'] {
  width: 80px;
  height: 40px;
  transform: translatey(-40%);
}

.reply-form > form > div:not(:last-child) {
  margin-bottom: 5px;
}

.reply-list > table {
  border: none;
}

.reply-list > table th {
  display: none;
}

.reply-list > table td {
  border: none;
}

.reply-list > table tr:nth-child(2n + 1) {
  background-color: rgba(0, 0, 0, 0.06);
}

.reply-list > table td:first-child {
  font-weight: bold;
}

.reply-list > table td:first-child::after {
  content: ' : ';
  font-weight: bold;
}

.btn {
  text-align: right;
  margin-right: 2rem;
  outline: none;
}

.qabtn {
  width: 80px;
  height: 40px;
  border: 1px solid #000000;
  /* font-family: 'Courier New', Courier, monospace; */
  font-weight: 520;
  font-size: 1em;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  align-items: center; /* 수직 중앙 정렬 */
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  margin-left: 35rem;
}

.qabtn:hover {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
}

.listbtn {
  background-color: #b6b6b64a;
  border-radius: 0.5rem;
  height: 2rem;
  left: 1rem;
  width: 4rem;
  margin-left: 10rem;
}

.editbtn {
  /* background-color: #a7ff1999;
  border-radius: 0.5rem;
  height: 2rem;
  left: 1rem;
  width: 4rem;
  margin-left: 2rem;
   */
  width: 80px;
  height: 40px;
  border: 1px solid #000000;
  /* font-family: 'Courier New', Courier, monospace; */
  font-weight: 520;
  font-size: 1em;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  align-items: center; /* 수직 중앙 정렬 */
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  margin-right: 100;
}

.editbtn:hover {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
}

.deletebtn {
  width: 80px;
  height: 40px;
  border: 1px solid #000000;
  /* font-family: 'Courier New', Courier, monospace; */
  font-weight: 520;
  font-size: 1em;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  align-items: center; /* 수직 중앙 정렬 */
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  margin-right: 100;
}

.deletebtn:hover {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
}
.tool-box {
  background-color: #fffefec0;
  height: 4rem;
  margin: 1rem auto;
  width: 54rem;
  border-radius: 1rem;
  border: 0px solid rgba(179, 159, 159, 0.608);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: flex-start; /* 변경: 가로로 오른쪽 정렬 */
  align-items: center; /* 세로로 중앙 정렬 */
}

/* 버튼들을 가로로 나열 */
.tool-box button {
  display: inline-block;
  margin-right: 5px; /* 버튼들 사이의 간격을 조정할 수 있습니다. */
}

.answer-text-box {
  background-color: #ffffffc0;
  height: 10rem;
  margin: 1rem auto;
  top: 0;
  width: 54rem;
  border: 0px solid rgba(179, 159, 159, 0.608);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.answer-text {
  width: 100%;
  height: 100%; /* 박스의 100% 높이를 사용합니다 */
  resize: none; /* 크기 조정을 막습니다 */
  box-sizing: border-box; /* 테두리와 패딩이 박스 크기에 포함되도록 box-sizing을 설정합니다 */
  padding: 10px; /* 내용과 테두리 사이의 간격을 지정합니다 */
  font-size: 1.3em; /* 텍스트의 크기를 1.2배로 늘립니다 */
  white-space: pre-wrap; /* 문단 구분을 위한 줄 바꿈을 적용합니다 */
}
.comment-text-box {
  background-color: #ffffffc0;
  margin: 1rem auto;
  width: 59.7rem;
  border: 1px solid rgba(179, 159, 159, 0.608);
  overflow: auto;
}

.comment-text {
  width: 100%;
  resize: none;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1em;

  background-color: #ffffffc0;
}

#comments {
  margin-bottom: 1rem;
}

.replies {
  background-color: #c3c3c36a; /* 새롭게 달리는 댓글들의 배경색을 회색으로 변경합니다 */
  border-color: #ffffff6a;
  padding: 0px;
}

.new-comment-btn {
  background-color: #f1ecec99;
  border-radius: 0.5rem;
  height: 1.5rem;
  width: 3rem;
  margin-left: 43rem;
  margin-bottom: rem;
}

.likeButton {
  width: 50px;
  height: 50px;
  background-color: rgb(189, 189, 189);
  color: white;
  border-radius: 50px;
  font-size: 10px;

  position: relative;
  left: 0px;
  top: 0px;
}
.likeButton-use {
  width: 50px;
  height: 50px;
  background-color: red;
  color: white;
  border-radius: 50px;
  font-size: 10px;

  position: relative;
  left: 0px;
  top: 0px;
}

/* testtttttttttttttttttttt */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #03658c;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
  background: #dee1e3;
}

/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
  margin: 60px auto 15px;
  width: 768px;
}

.comments-container h1 {
  font-size: 36px;
  color: #283035;
  font-weight: 400;
}

.comments-container h1 a {
  font-size: 18px;
  font-weight: 700;
}

.comments-list {
  margin-top: 30px;
  position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
  content: '';
  width: 2px;
  height: 100%;
  background: #c7cacb;
  position: absolute;
  left: 32px;
  top: 0;
}

.comments-list:after {
  content: '';
  position: absolute;
  background: #c7cacb;
  bottom: 0;
  left: 27px;
  width: 7px;
  height: 7px;
  border: 3px solid #dee1e3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.reply-list:before,
.reply-list:after {
  display: none;
}
.reply-list li:before {
  content: '';
  width: 60px;
  height: 2px;
  background: #c7cacb;
  position: absolute;
  top: 25px;
  left: -55px;
}

.comments-list li {
  margin-bottom: 15px;
  display: block;
  position: relative;
}

.comments-list li:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  width: 0;
}

.reply-list {
  padding-left: 88px;
  clear: both;
  margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
  width: 65px;
  height: 65px;
  position: relative;
  z-index: 99;
  float: left;
  border: 3px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.comments-list .comment-avatar img {
  width: 100%;
  height: 100%;
}

.reply-list .comment-avatar {
  width: 50px;
  height: 50px;
}

.comment-main-level:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
  width: 680px;
  float: right;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.comments-list .comment-box:before,
.comments-list .comment-box:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border-width: 10px 12px 10px 0;
  border-style: solid;
  border-color: transparent #fcfcfc;
  top: 8px;
  left: -11px;
}

.comments-list .comment-box:before {
  border-width: 11px 13px 11px 0;
  border-color: transparent rgba(0, 0, 0, 0.05);
  left: -12px;
}

.reply-list .comment-box {
  width: 610px;
}
.comment-box .comment-head {
  background: #fcfcfc;
  padding: 10px 12px;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
  float: right;
  margin-left: 14px;
  position: relative;
  top: 2px;
  color: #a6a6a6;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
  color: #03658c;
}

.comment-box .comment-name {
  color: #283035;
  font-size: 14px;
  font-weight: 700;
  float: left;
  margin-right: 10px;
}

.comment-box .comment-name a {
  color: #283035;
}

.comment-box .comment-head span {
  float: left;
  color: #999;
  font-size: 13px;
  position: relative;
  top: 1px;
}

.comment-box .comment-content {
  background: #fff;
  padding: 12px;
  font-size: 15px;
  color: #595959;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
  color: #03658c;
}
.comment-box .comment-name.by-author:after {
  content: 'autor';
  background: #03658c;
  color: #fff;
  font-size: 12px;
  padding: 3px 5px;
  font-weight: 700;
  margin-left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
  .comments-container {
    width: 480px;
  }

  .comments-list .comment-box {
    width: 390px;
  }

  .reply-list .comment-box {
    width: 320px;
  }
}

.input-box {
  background-color: #ffffffc0;
  height: 5rem;
  margin: 1rem auto;
  top: 0;
  width: 48rem;
  border: 0px solid rgba(179, 159, 159, 0.608);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.input-text {
  width: 36rem;
}
