/* 드롭다운 버튼 구현!! */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  align-items: center;
  background-color: #00a629;
  border-radius: 0.6rem;
  color: #ffffff;
  display: flex;
  flex-shrink: 0;
  font-family: 'NanumSquare', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  height: 3rem;
  justify-content: center;
  line-height: 1.3625;
  margin-bottom: 1.45rem;
  white-space: nowrap;
  width: 3rem;
  height: 2rem;
  margin-top: 1rem;
}

.select1 {
  align-items: center;
  background-color: #000000;
  border-radius: 0.6rem;
  color: #ffffff;

  flex-shrink: 0;
  font-family: 'NanumSquare', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  height: 3rem;
  justify-content: center;
  line-height: 1.3625;
  margin-bottom: 1.45rem;
  white-space: nowrap;
  width: 4rem;
  height: 2rem;
  margin-top: 1rem;
}

/* 따온거 */
html {
  font-family: 'NanumSquare', sans-serif;
}

.btn {
  margin-right: 2rem;
  outline: none;
  text-align: center;
}

.qabtn {
  width: 115px;
  height: 40px;
  /* border: 1px solid #000000; */
  /* font-family: 'Courier New', Courier, monospace; */
  font-weight: 520;
  font-size: 1em;
  background-color: #89e888; /* Change the background color */
  color: white; /* Set the text color to white */
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  margin-left: 5px; /* Add a margin value as needed */
  border-radius: 4px;
  border-style: none;
  gap: 4px;
}

.qabtn:hover {
  /* Hover effect remains unchanged */
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
}

.listbtn {
  background-color: #b6b6b64a;
  border-radius: 0.5rem;
  height: 2rem;
  left: 1rem;
  width: 4rem;
  margin-left: 10rem;
}

.editbtn {
  /* background-color: #a7ff1999;
  border-radius: 0.5rem;
  height: 2rem;
  left: 1rem;
  width: 4rem;
  margin-left: 2rem;
   */
  width: 80px;
  height: 40px;
  border: 0.8px solid #c3c3c3;
  font-family: 'NanumSquare', sans-serif;
  font-weight: 520;
  font-size: 1em;
  color: #555555;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  align-items: center; /* 수직 중앙 정렬 */
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  margin-right: 100;
  margin-left: 30rem;
}

.editbtn:hover {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
}

.deletebtn {
  width: 80px;
  height: 40px;
  border: 0.8px solid #c3c3c3;
  font-family: 'NanumSquare', sans-serif;
  font-weight: 520;
  font-size: 1em;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  align-items: center; /* 수직 중앙 정렬 */
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  margin-right: 100;
  color: #555555;
}

.deletebtn:hover {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
}
.tool-box {
  background-color: #fffefec0;
  height: 5rem;
  margin: 1rem auto;
  width: 54rem;
  border-radius: 0.2rem;
  border: 1px solid #89e888;

  display: flex;

  align-items: center; /* 세로로 중앙 정렬 */
}

/* 버튼들을 가로로 나열 */
.tool-box button {
  display: inline-block;
  margin-right: 5px; /* 버튼들 사이의 간격을 조정할 수 있습니다. */
}

.comment-text-box {
  background-color: #ffffffc0;
  margin: 1rem auto;
  width: 59.7rem;
  border: 1px solid rgba(179, 159, 159, 0.608);
  overflow: auto;
}

.comment-text {
  width: 100%;
  resize: none;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1em;

  background-color: #ffffffc0;
}

#comments {
  margin-bottom: 1rem;
}

.replies {
  background-color: #c3c3c36a; /* 새롭게 달리는 댓글들의 배경색을 회색으로 변경합니다 */
  border-color: #ffffff6a;
  padding: 0px;
}

.likeButton {
  width: 50px;
  height: 50px;
  background-color: rgb(189, 189, 189);
  color: white;
  border-radius: 50px;
  font-size: 10px;

  position: relative;
  left: 0px;
  top: 0px;
}
.likeButton-use {
  width: 50px;
  height: 50px;
  background-color: red;
  color: white;
  border-radius: 50px;
  font-size: 10px;

  position: relative;
  left: 0px;
  top: 0px;
}

/* testtttttttttttttttttttt */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #03658c;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
  margin: 60px auto 15px;
  width: 768px;
}

.comments-container h1 {
  font-size: 36px;
  color: #283035;
  font-weight: 400;
}

.comments-container h1 a {
  font-size: 18px;
  font-weight: 700;
}

.comments-list {
  margin-top: 30px;
  position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
  content: '';
  width: 2px;
  height: 100%;
  background: #c7cacb;
  position: absolute;
  left: 32px;
  top: 0;
}

.comments-list:after {
  content: '';
  position: absolute;
  background: #c7cacb;
  bottom: 0;
  left: 27px;
  width: 7px;
  height: 7px;
  border: 3px solid #dee1e3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.reply-list:before,
.reply-list:after {
  display: none;
}
.reply-list li:before {
  content: '';
  width: 0px;
  height: 0px;

  position: absolute;
  top: 25px;
  left: -100px;
}

.comments-list li {
  margin-bottom: 15px;
  display: block;
  position: relative;
}

.comments-list li:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  width: 0;
}

.reply-list {
  padding-left: 88px;
  clear: both;
  margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
  width: 65px;
  height: 65px;
  position: relative;
  z-index: 99;
  float: left;
  border: 3px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.comments-list .comment-avatar img {
  width: 100%;
  height: 100%;
}

.reply-list .comment-avatar {
  width: 50px;
  height: 50px;
  right: 2rem;
}

.comment-main-level:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
  width: 660px;
  float: right;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.comments-list .comment-box:before,
.comments-list .comment-box:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border-width: 10px 12px 10px 0;
  border-style: solid;
  border-color: transparent #fcfcfc;
  top: 8px;
  left: -11px;
}

.comments-list .comment-box:before {
  border-width: 11px 13px 11px 0;
  border-color: transparent rgba(0, 0, 0, 0.05);
}

.reply-list .comment-box {
  width: 520px;
}
.comment-box .comment-head {
  background: #fcfcfc;
  padding: 10px 12px;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
  float: right;
  margin-left: 14px;
  position: relative;
  top: 2px;
  color: #a6a6a6;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
  color: #03658c;
}

.comment-box .comment-name {
  color: #283035;
  font-size: 14px;
  font-weight: 700;
  float: left;
  margin-right: 10px;
}

.comment-box .comment-name a {
  color: #283035;
}

.comment-box .comment-head span {
  float: left;
  color: #999;
  font-size: 13px;
  position: relative;
  top: 1px;
}

.comment-box .comment-content {
  background: #fff;
  padding: 12px;
  font-size: 15px;
  color: #595959;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
  color: #03658c;
}
.comment-box .comment-name.by-author:after {
  content: 'autor';
  background: #03658c;
  color: #fff;
  font-size: 12px;
  padding: 3px 5px;
  font-weight: 700;
  margin-left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
  .comments-container {
    width: 480px;
  }

  .comments-list .comment-box {
    width: 390px;
  }

  .reply-list .comment-box {
    width: 320px;
  }
}

.input-box {
  background-color: #ffffffc0;
  height: 5rem;
  margin: 1rem auto;
  top: 0;
  width: 48rem;
}

.input-text {
  width: 570px;
  height: 25px;
  font-size: 15px;
  border-radius: 2px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(255, 255, 255);
  margin-left: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(215, 212, 212);
}
.input-text:focus {
  border-color: #71e049; /* 요소가 클릭되어 포커스가 맞춰졌을 때 테두리 색을 변경 */
}

#like {
  margin-left: 2rem;
  margin-right: 2rem;
}

#like:hover {
  color: red; /* 바뀔 색상 */
}

/* 0728 css 재조정 */

.body {
  --c-primary: #ed234b;
  --c-primary-rgb: 237, 35, 75;
  --c-primary-darken: #b50f30;
  --c-secondary: #ff7450;
  --c-secondary-rgb: 255, 116, 80;
  --c-secondary-darken: #ff6037;
  --font-base: 'Pretendard Variable', pretendard, -apple-system, blinkmacsystemfont, system-ui,
    roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

.qaDetail-frame {
  font-size: 1.4rem;
  line-height: 1.5714285714;
}

.q-box {
  background-color: #ffffffc0;
  max-height: 100%; /* 최대 높이를 100%로 설정 */
  overflow: hidden; /* 스크롤바 숨김 */
  margin: 1rem auto;
  top: 0;
  width: 54rem;
  border: 0px solid rgba(179, 159, 159, 0.608);
  border-color: #000000;
  box-sizing: border-box; /* border와 padding을 포함하여 크기를 계산합니다 */
}

.answer-text {
  width: 100%;
  height: 100%; /* 박스의 100% 높이를 사용합니다 */
  resize: none; /* 크기 조정을 막습니다 */
  box-sizing: border-box; /* 테두리와 패딩이 박스 크기에 포함되도록 box-sizing을 설정합니다 */
  padding: 10px; /* 내용과 테두리 사이의 간격을 지정합니다 */
  font-size: 1.3em; /* 텍스트의 크기를 1.2배로 늘립니다 */
  white-space: pre-wrap; /* 문단 구분을 위한 줄 바꿈을 적용합니다 */
}

.question-title {
  font-size: 2em;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 1em;
}

.question-info {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.question-info-writer {
  font-weight: 200;
  font-size: 0.8rem;
  font-style: rgb(120, 116, 116) (36, 35, 35);
}

.question-info-date {
  font-weight: 200;
  font-size: 0.8rem;
  font-style: rgb(120, 116, 116) (36, 35, 35);
}

.small-line {
  font-weight: 200;
  font-size: 0.8rem;
  font-style: rgb(120, 116, 116) (36, 35, 35);
  margin-left: 5px;
  margin-right: 5px;
  display: inline; /* display 속성을 inline으로 설정 */
}

.question-area {
  font-weight: 150;
  font-size: 1rem;
  font-style: rgb(120, 116, 116) (36, 35, 35);
  margin-top: 2rem;
}
/* This class will be added to the answer-text-box when you want to show its content */
.answer-text-box.expanded {
  max-height: none;
}

.answer-box {
  background-color: #ffffffc0;
  height: auto; /* Change to auto */
  margin: 1rem auto;
  top: 0;
  width: 54rem;
  position: relative;

  border: 0px solid rgba(179, 159, 159, 0.608);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  max-height: none; /* Adjust this value as needed */
  overflow: hidden;
  transition: max-height 0.3s ease; /* Add smooth transition */
}

.answer-text {
  height: auto; /* Change to auto */
  white-space: pre-wrap; /* 문단 구분을 위한 줄 바꿈을 적용합니다 */
  font-weight: 150;
  color: rgb(36, 35, 35); /* Corrected the font-style property */
}

.answer-area {
  font-size: 1rem; /* Change to your desired value */
  color: rgb(43, 42, 42); /* Corrected the font-style property */

  /* 요소가 컨텐츠에 맞게 늘어나도록 설정 */
  height: auto;
  max-height: none; /* 기본값인 none으로 설정 */
  overflow-y: auto; /* 세로 스크롤바를 감춤 */
}

.answer-title {
  font-size: 2em;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 1em;
}

.answer-info {
  width: 100%;
  display: flex;
  margin-left: 0rem;
}

.answer-info-writer {
  font-weight: 200;
  font-size: 0.8rem;
  font-style: rgb(120, 116, 116) (36, 35, 35);
}

.answer-info-date {
  font-weight: 200;
  font-size: 0.8rem;
  font-style: rgb(120, 116, 116) (36, 35, 35);
}

.answer-number {
  color: red;
}

.-box {
  background-color: #fffefec0;
  height: 4rem;
  margin: 1rem auto;
  width: 54rem;
  border-radius: 1rem;
  border: 0px solid rgba(179, 159, 159, 0.608);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: flex-start; /* 변경: 가로로 오른쪽 정렬 */
  align-items: center; /* 세로로 중앙 정렬 */
}

.heart-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  transition: color 0.3s ease;
  color: rgb(176, 175, 175);
  margin-left: 1rem;
}

.heart-button:hover {
  color: red;
}

.heart-button-use {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  transition: color 0.3s ease;
  color: red;
}

.horizontal-line {
  width: 100%;
  height: 3px;
  background-color: #aeebae;
}

.new-comment-btn {
  width: 70px;
  height: 25px;
  font-weight: 520;
  font-size: 0.8em;
  background-color: #89e888;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  border-style: none;
  gap: 4px;
  align-items: center;
  margin-left: 1rem;
}

.new-comment-btn:hover {
  /* Hover effect remains unchanged */
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
}

.likecount {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  font-size: 0.8rem;
  line-height: 0.5rem;
}

.inputframe {
  display: flex;
}
