/* .item--j8s {
  background-color: #ffffff;
  box-sizing: border-box;
  height: 102.4rem;
  overflow: hidden;
  padding: 9.3rem 19.868rem 12.4rem 19.9rem;
  position: relative;
  width: 100%;

  .item--UVm {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .header-mzf {
      align-items: center;
      background-color: #b0b0b0;
      border-radius: 1.4rem;
      color: #0c0b0b;
      display: flex;
      flex-shrink: 0;
      font-family: Baloo Bhai, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 400;
      height: 6.9059rem;
      justify-content: center;
      line-height: 1.2575;
      margin: 0rem 37.932rem 4.094rem 39.9rem;
      white-space: nowrap;
      width: calc(100% - 77.8316rem);
    }
    .item--XsM {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;

      .auto-group-kyrw-FYT {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        margin: 0rem 1.672rem 2.002rem 1rem;
        width: calc(100% - 2.6717rem);

        .item--MrP {
          align-items: center;
          background-color: #d9d9d9;
          border-radius: 1.3rem;
          color: #000000;
          display: flex;
          flex-shrink: 0;
          font-family: Baloo Bhai, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          height: 4.4rem;
          justify-content: center;
          line-height: 1.2575;
          margin: 0rem 1.2rem 0.813rem 0rem;
          white-space: nowrap;
          width: 21.9rem;
        }
        .item--NmV {
          align-items: center;
          background-color: #d9d9d9;
          border-radius: 1.3rem;
          color: #000000;
          display: flex;
          flex-shrink: 0;
          font-family: Baloo Bhai, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          height: 4.4rem;
          justify-content: center;
          line-height: 1.2575;
          margin: 0rem 4rem 0.813rem 0rem;
          white-space: nowrap;
          width: 21.9rem;
        }
        .all-qa-pNb {
          color: #0c0b0b;
          flex-shrink: 0;
          font-family: Baloo Bhai, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          margin: 0rem 28.3rem 0.913rem 0rem;
          white-space: nowrap;
        }
        .item--XH1 {
          align-items: center;
          border: solid 0.2rem #0c0b0b;
          border-radius: 0.8rem;
          box-sizing: border-box;
          color: #0c0b0b;
          display: flex;
          flex-shrink: 0;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 1.3rem;
          font-weight: 700;
          height: 4.687rem;
          justify-content: center;
          line-height: 1.1725;
          margin-top: 0.5264rem;
          white-space: nowrap;
          width: 19.2599rem;
        }
      }
      .qa-1-ZjV {
        background-image: url('/api/try-prod-ap-southeast-1-first-cluster/projects/5gNurwJiy1W8RSwx3aR8UR/files/vector/28b76feb7bf0a13aadb2185bf141b6bbecacc760260e1f40be89b0e865a7f11ee0d7c47870725477f7944253c24890007cf09c6015064c66c09817bc6b756900?hash=02b00119919aaeb62b0424f08fe07e622a9a966397de7fe8e2fcc4da72a4523a');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1.4rem;
        box-sizing: border-box;
        flex-shrink: 0;
        margin: 0rem 0.154rem 1.992rem 0rem;
        padding: 0.82rem 4.029rem 2.324rem 4.029rem;
        width: 104.0777rem;

        .q-how-to-learn-computer-security--fnX {
          color: #0c0b0b;
          font-family: Baloo Bhai, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          margin-bottom: 0.9645rem;
          white-space: nowrap;
        }
        .auto-group-cflb-xmd {
          align-items: center;
          display: flex;
          margin: 0rem 4.749rem 0rem 0.171rem;
          width: calc(100% - 4.9201rem);

          .a--VFm {
            color: #0c0b0b;
            flex-shrink: 0;
            font-family: Baloo Bhai, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
            margin: 1.3rem 72rem 0rem 0rem;
            white-space: nowrap;
          }
          .item-2023-12-01-2Hd {
            color: rgba(12, 11, 11, 0.7599999905);
            flex-shrink: 0;
            font-family: Baloo Bhai, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
            margin-bottom: 1.3rem;
            white-space: nowrap;
          }
        }
      }
      .qa-2-Gxf {
        background-image: url('/api/try-prod-ap-southeast-1-first-cluster/projects/5gNurwJiy1W8RSwx3aR8UR/files/vector/2c562350eb46a306f92615d816e96bc7e891891b6fbcd10127eaace959beb722f7d79f9509b237377e2d83f8bef9f4ef0fa0768ce0df04f904a3e6ecdd3c3b9e?hash=a68912ac5cdc94bdf9c33c16dc44117a083054d1d52a516fc09f05fe1ca974e2');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1.4rem;
        box-sizing: border-box;
        flex-shrink: 0;
        margin: 0rem 0.154rem 2.04rem 0rem;
        padding: 0rem 4.029rem 2.724rem 4.029rem;
        width: 104.0777rem;

        .q-how-to-learn-computer-security--bEF {
          color: #0c0b0b;
          font-family: Baloo Bhai, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          margin-bottom: 1.3844rem;
          white-space: nowrap;
        }
        .auto-group-s8mm-iJs {
          align-items: center;
          display: flex;
          margin: 0rem 4.749rem 0rem 0.171rem;
          width: calc(100% - 4.9201rem);

          .a--3rw {
            color: #0c0b0b;
            flex-shrink: 0;
            font-family: Baloo Bhai, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
            margin: 1.3rem 72rem 0rem 0rem;
            white-space: nowrap;
          }
          .item-2023-12-01-yEo {
            color: rgba(12, 11, 11, 0.7599999905);
            flex-shrink: 0;
            font-family: Baloo Bhai, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
            margin-bottom: 1.3rem;
            white-space: nowrap;
          }
        }
      }
      .qa-3-FTD {
        background-image: url('/api/try-prod-ap-southeast-1-first-cluster/projects/5gNurwJiy1W8RSwx3aR8UR/files/vector/99cc7582503922afc3640c0172a1bad388d28a523f4dfec970d9eeaba35a7c0c0575f0f9d641f052949b595dc33e55ab1bef31f25a2b60a321ee72e1c2e75e25?hash=18675c2bfacc827e263aadc90a335e7efa3e2cff5d45b4551487b9b335ac3a77');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1.4rem;
        box-sizing: border-box;
        flex-shrink: 0;
        margin: 0rem 0rem 1.988rem 0.154rem;
        padding: 0rem 4.029rem 2.472rem 4.029rem;
        width: 104.0777rem;

        .q-how-to-learn-computer-security--xsR {
          color: #0c0b0b;
          font-family: Baloo Bhai, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          margin-bottom: 1.4365rem;
          white-space: nowrap;
        }
        .auto-group-js8f-tm5 {
          align-items: center;
          display: flex;
          margin: 0rem 4.603rem 0rem 0.017rem;
          width: calc(100% - 4.6201rem);

          .a--2MV {
            color: #0c0b0b;
            flex-shrink: 0;
            font-family: Baloo Bhai, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
            margin: 1.5rem 72.3rem 0rem 0rem;
            white-space: nowrap;
          }
          .item-2023-12-01-9S7 {
            color: rgba(12, 11, 11, 0.7599999905);
            flex-shrink: 0;
            font-family: Baloo Bhai, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
            margin-bottom: 1.5rem;
            white-space: nowrap;
          }
        }
      }
      .qa-4-3Gb {
        background-image: url('/api/try-prod-ap-southeast-1-first-cluster/projects/5gNurwJiy1W8RSwx3aR8UR/files/vector/b32a0464605b23962659695fcb924dd184060e19c57cbadb00bb2da656c0f42bb0df1a498002d16c4604358b8c48b67c8472c217210e7d7484e5abfa362e3b02?hash=adf968819f679fbe070d69b05e8f85e81778904e25e7b977c4d79cb4827c629a');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1.4rem;
        box-sizing: border-box;
        flex-shrink: 0;
        margin: 0rem 0rem 1.988rem 0.154rem;
        padding: 0rem 4.029rem 2.468rem 4.029rem;
        width: 104.0777rem;

        .q-how-to-learn-computer-security--MYB {
          color: #0c0b0b;
          font-family: Baloo Bhai, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          margin-bottom: 1.4404rem;
          white-space: nowrap;
        }
        .auto-group-zvqo-sWX {
          align-items: center;
          display: flex;
          margin: 0rem 4.903rem 0rem 0.017rem;
          width: calc(100% - 4.9201rem);

          .a--oQB {
            color: #0c0b0b;
            flex-shrink: 0;
            font-family: Baloo Bhai, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
            margin: 1.5rem 72rem 0rem 0rem;
            white-space: nowrap;
          }
          .item-2023-12-01-j2w {
            color: rgba(12, 11, 11, 0.7599999905);
            flex-shrink: 0;
            font-family: Baloo Bhai, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
            margin-bottom: 1.5rem;
            white-space: nowrap;
          }
        }
      }
      .qa-5-QPy {
        background-image: url('/api/try-prod-ap-southeast-1-first-cluster/projects/5gNurwJiy1W8RSwx3aR8UR/files/vector/c40feda4e7f46e78acde319cdf21f8f5bcaa0de23505b82ea41bcc4b4111a424432113842e4ca336e0f240f8a4b83c5b619c786bb9b5cc2fd2d63e68505e1d22?hash=bde8a6d9bacc24bebf62efd3a5c45c121992b6d7c9323e9854e556b7b16bfcd7');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1.4rem;
        box-sizing: border-box;
        flex-shrink: 0;
        margin: 0rem 0rem 1.188rem 0.154rem;
        padding: 0rem 4.029rem 2.464rem 4.029rem;
        width: 104.0777rem;

        .q-how-to-learn-computer-security--8Ky {
          color: #0c0b0b;
          font-family: Baloo Bhai, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          margin-bottom: 1.4443rem;
          white-space: nowrap;
        }
        .auto-group-7rd9-4UX {
          align-items: center;
          display: flex;
          margin: 0rem 4.603rem 0rem 0.017rem;
          width: calc(100% - 4.6201rem);

          .a--zd5 {
            color: #0c0b0b;
            flex-shrink: 0;
            font-family: Baloo Bhai, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
            margin: 1.5rem 72.3rem 0rem 0rem;
            white-space: nowrap;
          }
          .item-2023-12-01-WrK {
            color: rgba(12, 11, 11, 0.7599999905);
            flex-shrink: 0;
            font-family: Baloo Bhai, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
            margin-bottom: 1.5rem;
            white-space: nowrap;
          }
        }
      }
      .item--BhZ {
        align-items: center;
        background-color: #d9d9d9;
        border-radius: 1.3rem;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Baloo Bhai, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        height: 5.2477rem;
        justify-content: center;
        line-height: 1.2575;
        margin: 0rem 15.171rem 0rem 17.164rem;
        white-space: nowrap;
        width: calc(100% - 32.3354rem);
      }
    }
  }
} */

/* 유진이가 이름 수정해놓은 css 코드!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* .item--j8s {
  background-color: #ffffff;
  box-sizing: border-box;
  height: 102.4rem;
  overflow: hidden;
  padding: 9.3rem 19.868rem 12.4rem 19.9rem;
  position: relative;
  width: 100%;

  .item--UVm {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .header-mzf {
      align-items: center;
      background-color: #b0b0b0;
      border-radius: 1.4rem;
      color: #0c0b0b;
      display: flex;
      flex-shrink: 0;
      font-family: Baloo Bhai, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 400;
      height: 6.9059rem;
      justify-content: center;
      line-height: 1.2575;
      margin: 0rem 37.932rem 4.094rem 39.9rem;
      white-space: nowrap;
      width: calc(100% - 77.8316rem);
    }
    .item--XsM {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;

      .auto-group-kyrw-FYT {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        margin: 0rem 1.672rem 2.002rem 1rem;
        width: calc(100% - 2.6717rem);

        .item--MrP {
          align-items: center;
          background-color: #d9d9d9;
          border-radius: 1.3rem;
          color: #000000;
          display: flex;
          flex-shrink: 0;
          font-family: Baloo Bhai, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          height: 4.4rem;
          justify-content: center;
          line-height: 1.2575;
          margin: 0rem 1.2rem 0.813rem 0rem;
          white-space: nowrap;
          width: 21.9rem;
        }
        .item--NmV {
          align-items: center;
          background-color: #d9d9d9;
          border-radius: 1.3rem;
          color: #000000;
          display: flex;
          flex-shrink: 0;
          font-family: Baloo Bhai, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          height: 4.4rem;
          justify-content: center;
          line-height: 1.2575;
          margin: 0rem 4rem 0.813rem 0rem;
          white-space: nowrap;
          width: 21.9rem;
        }
        .all-qa-pNb {
          color: #0c0b0b;
          flex-shrink: 0;
          font-family: Baloo Bhai, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          margin: 0rem 28.3rem 0.913rem 0rem;
          white-space: nowrap;
        }
        .item--XH1 {
          align-items: center;
          border: solid 0.2rem #0c0b0b;
          border-radius: 0.8rem;
          box-sizing: border-box;
          color: #0c0b0b;
          display: flex;
          flex-shrink: 0;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 1.3rem;
          font-weight: 700;
          height: 4.687rem;
          justify-content: center;
          line-height: 1.1725;
          margin-top: 0.5264rem;
          white-space: nowrap;
          width: 19.2599rem;
        }
      }
      .qa-1-ZjV {
        background-image: url('/api/try-prod-ap-southeast-1-first-cluster/projects/5gNurwJiy1W8RSwx3aR8UR/files/vector/28b76feb7bf0a13aadb2185bf141b6bbecacc760260e1f40be89b0e865a7f11ee0d7c47870725477f7944253c24890007cf09c6015064c66c09817bc6b756900?hash=02b00119919aaeb62b0424f08fe07e622a9a966397de7fe8e2fcc4da72a4523a');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1.4rem;
        box-sizing: border-box;
        flex-shrink: 0;
        margin: 0rem 0.154rem 1.992rem 0rem;
        padding: 0.82rem 4.029rem 2.324rem 4.029rem;
        width: 104.0777rem;

        .q-how-to-learn-computer-security--fnX {
          color: #0c0b0b;
          font-family: Baloo Bhai, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          margin-bottom: 0.9645rem;
          white-space: nowrap;
        }
        .auto-group-cflb-xmd {
          align-items: center;
          display: flex;
          margin: 0rem 4.749rem 0rem 0.171rem;
          width: calc(100% - 4.9201rem);

          .a--VFm {
            color: #0c0b0b;
            flex-shrink: 0;
            font-family: Baloo Bhai, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
            margin: 1.3rem 72rem 0rem 0rem;
            white-space: nowrap;
          }
          .item-2023-12-01-2Hd {
            color: rgba(12, 11, 11, 0.7599999905);
            flex-shrink: 0;
            font-family: Baloo Bhai, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
            margin-bottom: 1.3rem;
            white-space: nowrap;
          }
        }
      }
      .qa-2-Gxf {
        background-image: url('/api/try-prod-ap-southeast-1-first-cluster/projects/5gNurwJiy1W8RSwx3aR8UR/files/vector/2c562350eb46a306f92615d816e96bc7e891891b6fbcd10127eaace959beb722f7d79f9509b237377e2d83f8bef9f4ef0fa0768ce0df04f904a3e6ecdd3c3b9e?hash=a68912ac5cdc94bdf9c33c16dc44117a083054d1d52a516fc09f05fe1ca974e2');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1.4rem;
        box-sizing: border-box;
        flex-shrink: 0;
        margin: 0rem 0.154rem 2.04rem 0rem;
        padding: 0rem 4.029rem 2.724rem 4.029rem;
        width: 104.0777rem;

        .q-how-to-learn-computer-security--bEF {
          color: #0c0b0b;
          font-family: Baloo Bhai, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          margin-bottom: 1.3844rem;
          white-space: nowrap;
        }
        .auto-group-s8mm-iJs {
          align-items: center;
          display: flex;
          margin: 0rem 4.749rem 0rem 0.171rem;
          width: calc(100% - 4.9201rem);

          .a--3rw {
            color: #0c0b0b;
            flex-shrink: 0;
            font-family: Baloo Bhai, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
            margin: 1.3rem 72rem 0rem 0rem;
            white-space: nowrap;
          }
          .item-2023-12-01-yEo {
            color: rgba(12, 11, 11, 0.7599999905);
            flex-shrink: 0;
            font-family: Baloo Bhai, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
            margin-bottom: 1.3rem;
            white-space: nowrap;
          }
        }
      }
      .qa-3-FTD {
        background-image: url('/api/try-prod-ap-southeast-1-first-cluster/projects/5gNurwJiy1W8RSwx3aR8UR/files/vector/99cc7582503922afc3640c0172a1bad388d28a523f4dfec970d9eeaba35a7c0c0575f0f9d641f052949b595dc33e55ab1bef31f25a2b60a321ee72e1c2e75e25?hash=18675c2bfacc827e263aadc90a335e7efa3e2cff5d45b4551487b9b335ac3a77');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1.4rem;
        box-sizing: border-box;
        flex-shrink: 0;
        margin: 0rem 0rem 1.988rem 0.154rem;
        padding: 0rem 4.029rem 2.472rem 4.029rem;
        width: 104.0777rem;

        .q-how-to-learn-computer-security--xsR {
          color: #0c0b0b;
          font-family: Baloo Bhai, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          margin-bottom: 1.4365rem;
          white-space: nowrap;
        }
        .auto-group-js8f-tm5 {
          align-items: center;
          display: flex;
          margin: 0rem 4.603rem 0rem 0.017rem;
          width: calc(100% - 4.6201rem);

          .a--2MV {
            color: #0c0b0b;
            flex-shrink: 0;
            font-family: Baloo Bhai, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
            margin: 1.5rem 72.3rem 0rem 0rem;
            white-space: nowrap;
          }
          .item-2023-12-01-9S7 {
            color: rgba(12, 11, 11, 0.7599999905);
            flex-shrink: 0;
            font-family: Baloo Bhai, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
            margin-bottom: 1.5rem;
            white-space: nowrap;
          }
        }
      }
      .qa-4-3Gb {
        background-image: url('/api/try-prod-ap-southeast-1-first-cluster/projects/5gNurwJiy1W8RSwx3aR8UR/files/vector/b32a0464605b23962659695fcb924dd184060e19c57cbadb00bb2da656c0f42bb0df1a498002d16c4604358b8c48b67c8472c217210e7d7484e5abfa362e3b02?hash=adf968819f679fbe070d69b05e8f85e81778904e25e7b977c4d79cb4827c629a');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1.4rem;
        box-sizing: border-box;
        flex-shrink: 0;
        margin: 0rem 0rem 1.988rem 0.154rem;
        padding: 0rem 4.029rem 2.468rem 4.029rem;
        width: 104.0777rem;

        .q-how-to-learn-computer-security--MYB {
          color: #0c0b0b;
          font-family: Baloo Bhai, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          margin-bottom: 1.4404rem;
          white-space: nowrap;
        }
        .auto-group-zvqo-sWX {
          align-items: center;
          display: flex;
          margin: 0rem 4.903rem 0rem 0.017rem;
          width: calc(100% - 4.9201rem);

          .a--oQB {
            color: #0c0b0b;
            flex-shrink: 0;
            font-family: Baloo Bhai, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
            margin: 1.5rem 72rem 0rem 0rem;
            white-space: nowrap;
          }
          .item-2023-12-01-j2w {
            color: rgba(12, 11, 11, 0.7599999905);
            flex-shrink: 0;
            font-family: Baloo Bhai, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
            margin-bottom: 1.5rem;
            white-space: nowrap;
          }
        }
      }
      .qa-5-QPy {
        background-image: url('/api/try-prod-ap-southeast-1-first-cluster/projects/5gNurwJiy1W8RSwx3aR8UR/files/vector/c40feda4e7f46e78acde319cdf21f8f5bcaa0de23505b82ea41bcc4b4111a424432113842e4ca336e0f240f8a4b83c5b619c786bb9b5cc2fd2d63e68505e1d22?hash=bde8a6d9bacc24bebf62efd3a5c45c121992b6d7c9323e9854e556b7b16bfcd7');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1.4rem;
        box-sizing: border-box;
        flex-shrink: 0;
        margin: 0rem 0rem 1.188rem 0.154rem;
        padding: 0rem 4.029rem 2.464rem 4.029rem;
        width: 104.0777rem;

        .q-how-to-learn-computer-security--8Ky {
          color: #0c0b0b;
          font-family: Baloo Bhai, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          margin-bottom: 1.4443rem;
          white-space: nowrap;
        }
        .auto-group-7rd9-4UX {
          align-items: center;
          display: flex;
          margin: 0rem 4.603rem 0rem 0.017rem;
          width: calc(100% - 4.6201rem);

          .a--zd5 {
            color: #0c0b0b;
            flex-shrink: 0;
            font-family: Baloo Bhai, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
            margin: 1.5rem 72.3rem 0rem 0rem;
            white-space: nowrap;
          }
          .item-2023-12-01-WrK {
            color: rgba(12, 11, 11, 0.7599999905);
            flex-shrink: 0;
            font-family: Baloo Bhai, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
            margin-bottom: 1.5rem;
            white-space: nowrap;
          }
        }
      }
      .item--BhZ {
        align-items: center;
        background-color: #d9d9d9;
        border-radius: 1.3rem;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Baloo Bhai, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        height: 5.2477rem;
        justify-content: center;
        line-height: 1.2575;
        margin: 0rem 15.171rem 0rem 17.164rem;
        white-space: nowrap;
        width: calc(100% - 32.3354rem);
      }
    }
  }
} */

/* 임시로 돌려보기위한 현재 코드 */

.qa-item-content {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}
.qa-question {
  font-weight: bold;
}
.qa-answer {
  margin-top: 5px;
}
.qa-date {
  color: gray;
  font-style: italic;
  margin-top: 5px;
}

/* 드롭다운 버튼 구현!! */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
