.qEnroll_container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
/* .top_middle_item {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding-bottom: 1.1526rem;
  width: 100%;
} */
.add_file {
  background-color: #c8c8c8;
  border-radius: 0.9rem;
  box-sizing: border-box;
  color: #0c0b0b;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.7802rem 1.8556rem;
  width: 30rem;
  height: calc(100% - 0.04rem);
}
/* .submit_btn {
  align-items: center;
  background-color: rgba(111, 225, 92, 0.7900000215);
  border-radius: 0.6rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  color: #0c0b0b;
  display: flex;
  flex-shrink: 0;
  font-family: Roboto, 'Source Sans Pro';
  font-size: 1.3rem;
  font-weight: 700;
  height: 4.1856rem;
  justify-content: center;
  line-height: 1.1725;
  margin-right: 2.2267rem;
  white-space: nowrap;
  width: 11.8756rem;
}
.cancel_btn {
  align-items: center;
  background-color: rgba(253, 23, 23, 0.6399999857);
  border-radius: 0.6rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  color: #0c0b0b;
  display: flex;
  flex-shrink: 0;
  font-family: Roboto, 'Source Sans Pro';
  font-size: 1.3rem;
  font-weight: 700;
  height: 4.1856rem;
  justify-content: center;
  line-height: 1.1725;
  white-space: nowrap;
  width: 11.8756rem;
} */
