{% comment %} <!DOCTYPE html> 헤더 수정할때 테스트 여기서 하면 편합니당

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/headerfooter.css" />
    <title>Document</title>
  </head>
  
  <body>
    <header>
      <!-- 전체박스 -->
      <div class="header-box">
        <!-- 메뉴박스 -->
        <div class="menu-box">
          <!-- 그림자 -->
          <div class="shadow"></div>
          <!-- 본체박스 -->
          <div class="big-box"></div>
          <!-- 이미지 -->
          <img class="mini-logo" src="../static/img/colony.jpg" />
          <!-- 이름님 안녕하세요 타임리프 사용가능성-->
          <div class="welcome-box">이름 님 안녕하세요</div>
          <div class="mypage-box">
            <a href="mypage.html">마이페이지</a>
          </div>

            <div class="login-box">
              <a href="login.html">로그인</a>
            </div>
          </div>
        </div>
      </div>
    </header>


  </body>
</html> {% endcomment %}
