<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <title>Login</title>
  </head>
  <body>
    <img class="logo" src="/img/colony.jpg" width="250" height="250" alt="사진 없음" />
    <div class="login-box">
      <div class="login-header">Login</div>
      <form action="/login" method="post" class="login__register" id="login-in">
        <div class="text-field-top">ID</div>
        <input type="text" name="loginId" class="text-field" placeholder="아이디를 입력하세요" />
        <br />

        <div class="text-field-top">PW</div>
        <input
          type="password"
          name="password"
          class="text-field"
          placeholder="비밀번호를 입력하세요"
        />
        <br />

        <button type="submit" class="login-btn1">Login</button>
        <button type="button" class="login-btn2">
          Non-Member Login
        </button>

        <p>
          <a class="signup-btn" href="/join">Sign up</a>
        </p>
      </form>
    </div>

    <script>
      let nonmemberLogin = document.querySelector('.login-btn2');

      nonmemberLogin.onclick =  function() {
        window.location.href = '/src/main/resources/templates/qaList.html';
      }
    </script>
  </body>
</html>
