<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="header.js" type="module"></script>
    <script src="footer.js" type="module"></script>
    <link rel="stylesheet" href="../static/css/headerfooter.css" />
    <link rel="stylesheet" href="../static/css/qaList.css" />
    <title>qaListtest</title>
  </head>
  <body>
    <script type="module">
      import header from '../static/js/board/header.js';
      import footer from '../static/js/board/footer.js';
      document.getElementById('header-container').innerHTML = header;
      document.getElementById('footer-container').innerHTML = footer;
    </script>

    <div id="header-container"></div>

    {% comment %}
    <div class="qa-container" id="question-answer-container">
      <div class="qa-item" id="question-1">
        <div class="qa-header" id="question-header-1">Q&A</div>
        <div class="qa-list" id="question-list-1">
          <div class="qa-search-dropdown" id="search-dropdown-1">드롭다운 검색</div>
          <!--버튼리스너(검색기능) 구현-->
          <div class="qa-sort-dropdown" id="sort-dropdown-1">드롭다운 정렬</div>
          <!--버튼리스너(정렬기능) 구현-->
          <p class="qa-all" id="all-questions">All Q&A</p>
          <div class="qa-register" id="register">Register</div>
        </div>

        <div class="qa-item-content" id="question-content-1">
          <p class="qa-question" id="question-1-1" th:text="${question.content}"></p>
          <div class="qa-answer-group" id="answer-group-1-1" th:each="A. : ${question.answers}">
            <p class="qa-answer" id="answer-1-1" th:text="${answer.content}"></p>
            <p class="qa-date" id="question-date-1-1" th:text="'질문 일자: ' + ${answer.date}"></p>
          </div> 
        </div>

        <div class="qa-paging" id="paging">페이징</div>
      </div>
    </div>
    {% endcomment %}

    <div id="qa-container"></div>
    <script src="../static/js/board/qaList.js"></script>

    <div id="footer-container"></div>
  </body>
</html>
