<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/qaList.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <title>qaList</title>
  </head>

  <body>
    <div th:replace="~{layouts/header :: header}"></div>

    <!-- 배너  -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="firstBanner_container">
            <div class="firstBanner_left">
              <button class="firstBanner_button">Notice</button>
              <h2 class="firstBanner_title">콜로니 웹 사이트 오픈!🎉</h2>
              <h2 class="firstBanner_sub_title">모르는게 있다면 자유롭게 질문을 남겨보세요</h2>
            </div>
            <div class="firstBanner_right">
              <img src="https://holaworld.io/images/banner/33.png" width="250px" height="160px" />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="firstBanner_container">
            <div class="firstBanner_left">
              <button class="firstBanner_button">Notice</button>
              <h2 class="firstBanner_title">9월7일 콜로니 종강총회</h2>
              <h2 class="firstBanner_sub_title">장소: 꽃다지 입장비: 10000원</h2>
            </div>
            <div class="firstBanner_right">
              <img src="https://holaworld.io/images/banner/33.png" width="250px" height="160px" />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="firstBanner_container">
            <div class="firstBanner_left">
              <button class="firstBanner_button">Notice</button>
              <h2 class="firstBanner_title">졸업한 선배의 이야기가 궁금하다면?</h2>
              <h2 class="firstBanner_sub_title">
                9월7일 졸업하신 박태민 선배의 연애 이야기가 궁금하다면 아래 구글 폼을 통해
                신청해주세요
              </h2>
            </div>
            <div class="firstBanner_right">
              <img src="https://holaworld.io/images/banner/33.png" width="250px" height="160px" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 질문 목록  -->
    <div class="qa-page">
      <!-- 검색 -->
      <div class="search-container">
        <form th:action="@{/post-list/{categoryId}(categoryId=${categoryDtoList.presentCategoryId})}" method="get" autocomplete="on">
          <label for="searchType"></label>
          <select id="searchType" name="searchType" th:value="${searchType}">
            <option value="NICKNAME" th:selected="${#strings.equals(searchType, 'NICKNAME')}">
              닉네임으로 검색
            </option>
            <option value="TITLE" th:selected="${#strings.equals(searchType, 'TITLE')}">
              제목으로 검색
            </option>
          </select>
          <input
            type="text"
            id="searchValue"
            name="searchValue"
            placeholder="검색어를 입력하세요"
            th:value="${searchValue}"
          />
          <button class="searchBtn" type="submit">검색</button>
        </form>
      </div>
      <!-- 답변 완료 & 정렬 & 질문 등록 -->
      <div class="answer-sort-enroll-container">
        <!-- 답변 완료 -->
        <div class="answer-container">
          <input type="checkbox" id="check_btn" th:checked="${answered}" />
          <label for="check_btn"><span>답변 완료된 글만 보기</span></label>
        </div>
        <!-- 정렬 & 등록 -->
        <div class="sort-enroll-container">
          <!-- 정렬 -->
          <div class="sort-container">
            <label for="sortSelect"></label>
            <select id="sortSelect" name="sort" th:value="${sortBy}">
              <option th:selected="${#strings.isEmpty(sortBy)}">정렬 기준</option>
              <option
                value="createdAtDesc"
                th:selected="${#strings.equals(sortBy, 'createdAtDesc')}"
              >
                최신순
              </option>
              <option value="createdAtAsc" th:selected="${#strings.equals(sortBy, 'createdAtAsc')}">
                오래된 순
              </option>
              <option value="title" th:selected="${#strings.equals(sortBy, 'title')}">
                제목 순
              </option>
            </select>
          </div>
          <!-- 질문 등록 -->
          <button class="enroll-btn" id="postwritebtn">질문 등록</button>
        </div>
      </div>
      <!-- 공지 및 카드 -->
      <div class="card-container">
        <!-- 공지 -->
        <div
          th:each="postDto : ${postDtoListNotice}"
          class="card-item notice"
          th:onclick="'redirectToNotice(' + ${postDto.postId} + ')'"
        >
          <div class="card-info">
            <div class="card-header">
              <div class="card-state-notice">
                <div>공지사항</div>
              </div>
              <div class="card-title" th:text="${postDto.title}"></div>
            </div>
            <p class="card-content" th:text="${postDto.content}"></p>
            <div class="card-footer">
              <p class="card-author-date">
                <span th:text="${postDto.createdBy}"></span>
                <span>|</span>
                <span th:text="${postDto.enrollTime}"></span>
              </p>
              <p class="card-view-answer">
                <i class="fa-regular fa-eye"></i>
                <span th:text="${postDto.viewCount}"></span>
              </p>
            </div>
          </div>
        </div>
        <!-- 카드 -->
        <div
          th:each="postDto : ${postDtoList}"
          class="card-item"
          th:onclick="'redirectToPost(' + ${postDto.postId} + ')'"
        >
          <div class="card-info">
            <div class="card-header">
              <div class="card-state-yes" th:if="${postDto.answered}">
                <div>답변 완료</div>
              </div>
              <div class="card-state-no" th:unless="${postDto.answered}">
                <div>답변 대기</div>
              </div>
              <div class="card-title" th:text="${postDto.title}"></div>
            </div>
            <p class="card-content" th:text="${postDto.content}"></p>
            <div class="card-footer">
              <p class="card-author-date">
                <span th:text="${postDto.createdBy}"></span>
                <span>|</span>
                <span th:text="${postDto.enrollTime}"></span>
              </p>
              <p class="card-view-answer">
                <i class="fa-regular fa-eye"></i>
                <span th:text="${postDto.viewCount}"></span>
                <i class="fa-regular fa-comment"></i>
                <span th:text="${postDto.answerCount}"></span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <input type="hidden" id="categoryId" th:value="${categoryDtoList.presentCategoryId}">

      <!-- 페이지네이션 -->
      <div class="pagination-container">
        <ul
                class="pagination"
                th:with="start=${(pageNum/maxPage)*maxPage + 1},
          end=(${(totalPages == 0) ? 1 : (start + (maxPage - 1) < totalPages ? start + (maxPage - 1) : totalPages)}),
          prev=${start - maxPage - 1},
          next=${start + maxPage - 1},
          maxPage=${5},
          currentCategoryId=${categoryDtoList.presentCategoryId}"
        >
          <!-- 이전 페이지로 이동 -->
          <li th:if="${start > 1}">
            <a
                    th:if="${currentCategoryId}"
                    th:href="@{/post-list/{id}(page=${prev}, searchType=${searchType}, searchValue=${searchValue}, sortBy=${sortBy}, answered=${answered}, id=${categoryDtoList.presentCategoryId})}"
                    th:text="'<<'"
            ></a>
            <a
                    th:unless="${currentCategoryId}"
                    th:href="@{/post-list(page=${prev}, searchType=${searchType}, searchValue=${searchValue}, sortBy=${sortBy}, answered=${answered})}"
                    th:text="'<<'"
            ></a>
          </li>

          <!-- 페이지 번호 출력 -->
          <li
                  th:each="page: ${#numbers.sequence(start, end)}"
                  th:class="${page == (pageNum + 1)} ? 'active' : ''"
          >
            <a
                    th:if="${currentCategoryId}"
                    th:href="@{/post-list/{id}(page=${page - 1}, searchType=${searchType}, searchValue=${searchValue}, sortBy=${sortBy}, answered=${answered}, id=${categoryDtoList.presentCategoryId})}"
                    th:text="${page}"
            ></a>
            <a
                    th:unless="${currentCategoryId}"
                    th:href="@{/post-list(page=${page - 1}, searchType=${searchType}, searchValue=${searchValue}, sortBy=${sortBy}, answered=${answered})}"
                    th:text="${page}"
            ></a>
          </li>

          <!-- 다음 페이지로 이동 -->
          <li th:if="${end < totalPages}">
            <a
                    th:if="${currentCategoryId}"
                    th:href="@{/post-list/{id}(page=${next}, searchType=${searchType}, searchValue=${searchValue}, sortBy=${sortBy}, answered=${answered}, id=${categoryDtoList.presentCategoryId})}"
                    th:text="'>'"
            ></a>
            <a
                    th:unless="${currentCategoryId}"
                    th:href="@{/post-list(page=${next}, searchType=${searchType}, searchValue=${searchValue}, sortBy=${sortBy}, answered=${answered})}"
                    th:text="'>'"
            ></a>
          </li>

          <li th:if="${end < totalPages}">
            <a
                    th:if="${currentCategoryId}"
                    th:href="@{/post-list/{id}(page=${totalPages - 1}, searchType=${searchType}, searchValue=${searchValue}, sortBy=${sortBy}, answered=${answered}, id=${categoryDtoList.presentCategoryId})}"
                    th:text="'>>'"
            ></a>
            <a
                    th:unless="${currentCategoryId}"
                    th:href="@{/post-list(page=${totalPages - 1}, searchType=${searchType}, searchValue=${searchValue}, sortBy=${sortBy}, answered=${answered})}"
                    th:text="'>>'"
            ></a>
          </li>
        </ul>
      </div>
    </div>

    <div th:replace="~{layouts/footer :: footer}"></div>

    <script>
      function redirectToPost(postId) {
        window.location.href = '/post/' + postId + '?postType=p';
      }

      function redirectToNotice(postId) {
        window.location.href = '/post/' + postId + '?postType=n';
      }

      var postwritebtn = document.getElementById('postwritebtn');
      postwritebtn.addEventListener('click', function () {
        location.href = '/post-form';
        console.log('post글쓰기 btn');
      });

      document.getElementById('sortSelect').addEventListener('change', function (event) {
        if (event.target.value === '정렬 기준') return;
        var selectedValue = this.value;
        var searchValue = document.getElementById('searchValue').value;
        var searchType = document.getElementById('searchType').value;
        var categoryId = document.getElementById('categoryId').value;
        console.log(categoryId);
        window.location.href =
          '/post-list/'+ categoryId + '?sortBy=' +
          selectedValue +
          '&searchType=' +
          searchType +
          '&searchValue=' +
          searchValue;
      });

      const checkbox = document.getElementById('check_btn');
      // 체크 박스 상태 변경 시 이벤트 핸들러 등록
      checkbox.addEventListener('change', function () {
        const urlParams = new URLSearchParams(window.location.search);

        if (this.checked) {
          urlParams.set('answered', 'true');
        } else {
          urlParams.delete('answered');
        }

        // 변경된 파라미터로 새로운 URL 생성
        const newUrl = `${window.location.pathname}?${urlParams.toString()}`;

        // 새로운 URL로 페이지 이동
        window.location.href = newUrl;
      });
    </script>
  </body>
</html>
