<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.css" />
  <link rel="stylesheet" href="/css/qEnrollModify.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>qEnroll</title>
  <style>
    .toastui-editor-mode-switch {
      display: none;
    }
  </style>
</head>

<body>
<div th:replace="~{layouts/header :: header}"></div>

<div class="frame">
  <div class="container">
    <form action="/post" method="post" enctype="multipart/form-data">
      <div class="item1">
        <div class="question_enroll">질문 등록</div>
        <input class="title" type="text" name="title" placeholder="제목을 입력하세요" />
        <div id="textEditor" style="height: 400px;"></div>
        <textarea
                id="hiddenEditor"
                class="text_box"
                rows="10"
                cols="156"
                name="content"
                style="display: none;"
        ></textarea>
      </div>
      <div class="item2">
        <input
                type="file"
                id="file-input"
                name="imageList"
                accept="image/jpeg, image/png"
                style="display: none"
                multiple
        />
        <label for="file-input" class="add_file">📁Add file</label>
        <button type="submit" class="submit_btn">등록</button>
        <button type="button" class="cancel_btn">취소</button>
      </div>
    </form>
    <div id="file-list-box">
      <ul id="file-list"></ul>
    </div>
  </div>
</div>

<div th:replace="~{layouts/footer :: footer}"></div>

<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
  var imagesToUpload = [];
  var urls = [];

  var editor = new toastui.Editor({
    el: document.querySelector('#textEditor'),
    height: 'auto',
    initialEditType: 'wysiwyg',
    previewStyle: 'tab',
    usageStatistics: false,
    hooks: {
      addImageBlobHook: function(blob, callback) {
        var url = URL.createObjectURL(blob);
        imagesToUpload.push(blob);
        console.log(imagesToUpload);
        callback(url, blob.name);
        urls.append(url);
        return false;
      }
    }
  });

  document.querySelector('.submit_btn').addEventListener('click', function(e) {
    e.preventDefault();
    console.log(urls);
    var formData = new FormData();
    formData.append('title', document.querySelector('.title').value);
    formData.append('content', editor.getMarkdown());
    imagesToUpload.forEach(function(image, index) {
      formData.append('imageList', image);
    });
    // formData.append('imageList',imagesToUpload);
    // console.log(formData.get("imageList"));


    fetch('/post', {
      method: 'POST',
      body: formData
    })
            .then(function(response) {
              if (response.ok) {
                // Handle successful post
              } else {
                // Handle error
              }
            })
            .catch(function(error) {
              console.error(error);
            });
  });
</script>
<script>
  let fileInput = document.getElementById('file-input');
  let fileList = document.getElementById('file-list');
  let submitBtn = document.querySelector('.submit_btn');
  let cancelBtn = document.querySelector('.cancel_btn');



  cancelBtn.addEventListener('click', () => {
    document.querySelector('.title').value = '';
    document.querySelector('.text_box').value = '';
    history.back();
  });
</script>
</body>
</html>
