<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="header.js" type="module"></script>
    <script src="footer.js" type="module"></script>
    <link rel="stylesheet" href="../static/css/headerfooter.css" />
    <link rel="stylesheet" href="../static/css/qEnroll.css" />
    <title>qEnroll</title>
  </head>
  <body>
    <script type="module">
      import header from '../static/js/board/header.js';
      import footer from '../static/js/board/footer.js';
      document.getElementById('header-container').innerHTML = header;
      document.getElementById('footer-container').innerHTML = footer;
    </script>

    <div id="header-container"></div>

    <!-- <div class="item--G8w" id="33203:155">
      <div class="item--RAF" id="33237:6">
        <div class="auto-group-jd7m-WDd" id="6gddjPUb6BVLBsJ2yoJD7m">
          <div class="item--PoD" id="33253:6">
            <div class="item--GMD" id="33253:5">질문 등록</div>
            <div class="item--3mH" id="33253:49">질문 등록</div>
          </div>
          <div class="item--Tq1" id="33241:45">제목칸~~~!</div>
          <div class="item--uBD" id="33237:27">
            <div class="group-1-1zw" id="33237:41">Text box</div>
          </div>
        </div>
        <div class="auto-group-18md-SaT" id="6gddYJxiM9fYGxa9CS18MD">
          <div class="item--Zf5" id="33253:3">📁Add file</div>
          <div class="item--o3d" id="33237:32">등록</div>
          <div class="item--Rqh" id="33241:46">취소</div>
        </div>
      </div>
    </div> -->

    <div class="question-registration-container" id="question-registration-155">
      <div class="question-registration-item" id="question-registration-item-6">
        <div
          class="question-registration-content"
          id="question-registration-content-6gddjPUb6BVLBsJ2yoJD7m"
        >
          <div
            class="question-registration-header"
            id="question-registration-header-6gddjPUb6BVLBsJ2yoJD7m"
          >
            <div class="question-registration-title" id="question-registration-title-33253:5">
              질문 등록
            </div>
            <div
              class="question-registration-subtitle"
              id="question-registration-subtitle-33253:49"
            >
              질문 등록
            </div>
          </div>
          <div class="question-registration-field" id="question-registration-field-33241:45">
            제목칸~~~!
          </div>
          <div class="question-registration-field" id="question-registration-field-33237:27">
            <div class="question-registration-group" id="question-registration-group-33237:41">
              Text box
            </div>
          </div>
        </div>
        <div
          class="question-registration-actions"
          id="question-registration-actions-6gddYJxiM9fYGxa9CS18MD"
        >
          <div class="question-registration-action" id="question-registration-action-33253:3">
            📁 Add file
          </div>
          <div class="question-registration-action" id="question-registration-action-33237:32">
            등록
          </div>
          <div class="question-registration-action" id="question-registration-action-33241:46">
            취소
          </div>
        </div>
      </div>
    </div>

    <div id="footer-container"></div>
  </body>
</html>
