<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="header.js" type="module"></script>
    <script src="footer.js" type="module"></script>
    <link rel="stylesheet" href="../static/css/headerfooter.css" />
    <link rel="stylesheet" href="../static/css/qEnroll.css" />
    <title>qEnroll</title>
  </head>
  <body>
    <script type="module">
      import header from '../static/js/board/header.js';
      import footer from '../static/js/board/footer.js';
      document.getElementById('header-container').innerHTML = header;
      document.getElementById('footer-container').innerHTML = footer;
    </script>

    <div id="header-container"></div>

    <div class="qEnroll_container">
      <div class="top_middle_item">
        <div class="qEnroll_title">질문 등록</div>
        <div class="qEnroll_subtitle">제목칸~~~!</div>
        <div class="text_box">Text box</div>
      </div>
      <div class="bottom_item">
        <div class="add_file">📁 Add file</div>
        <div class="submit_btn">등록</div>
        <div class="cancel_btn">취소</div>
      </div>
    </div>

    <div id="footer-container"></div>
  </body>
</html>
