<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../static/css/qaDetail.css" />
    <link rel="stylesheet" href="../static/css/headerfooter.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <title>질문 세부 페이지</title>
  </head>

  <body>
    <!--  로그인 유저 닉네임-->
    <div sec:authorize="isAuthenticated()">
      <span
        class="member-nickname"
        sec:authentication="principal.nickname"
        style="display: none"
      ></span>
    </div>
    <div sec:authorize="isAnonymous()">
      <span class="member-nickname" value="" style="display: none"></span>
    </div>

    <div th:replace="~{layouts/header :: header}"></div>
    <br />

    <div class="qadetail-frame">
      <section class="article-detail table-common con row">
        <table class="cell" border="1">
          <colgroup>
            <col width="100px" />
          </colgroup>
          <tbody>
            <tr class="article-title">
              <th>제목</th>
              <td class="question-title" th:text="${postDto.title}">title</td>
              <th>작성자</th>
              <td id="post-writer" class="question-title" th:text="${postDto.createdBy}">name</td>
              <!--시큐리티 변수-->
            </tr>
            <!--<tr class="article-info">
            <th>날짜</th>
            <td th:text="${postDto.updatedAt}">date</td>
          </tr> -->
            <tr class="article-body">
              <!--내용칸-->
              <td colspan="4" th:text="${postDto.content}">Q. question area</td>
            </tr>
          </tbody>
        </table>
        <input id="postId" type="hidden" th:value="${postDto.postId}" />
      </section>
      ----------<!--질문 첨부파일 이미지+이미지명 출력파트-->
      <div class="file-box">
        <!-- Loop through the file list -->
        <div th:each="file : ${postDto.imageDtoList}">
          <div class="file-img">
            <img th:src="|/images/${file.storeImageName}|" alt="이미지" />
          </div>
        </div>
      </div>

      <!--버튼바들-->
      <div class="tool-box" id="question-tool-box">
        <h6>
          &nbsp 작성일자 :
          <td th:text="${postDto.updatedAt}">date</td>
        </h6>
        <div class="btn">
          <button class="qabtn" id="qabtn">답변하기</button>
          <!--<button class="listbtn" id="listbtn">목록</button>-->
          <button class="editbtn" id="editbtn">수정</button>
          <button class="deletebtn" id="deletebtn">삭제</button>
          <!--<a href="#" class="btn green rounded">Button</a>-->
        </div>
      </div>

      <br />
      <br />

      <br />

      <div class="answer-text-box" id="answer-text-box">
        <div
          th:each="answer : ${answerList}"
          class="answer-text"
          id="answer-text-box-[[${answer.id}]]"
        >
          <!-- 답변데이터가 타임리프로 이곳에 들어갈 예정입니다 -->
          <span th:text="${'A. : ' + answer.content}">Q.답변데이터</span>
          <i class="fa fa-reply" id="add-reply-button" data-answer-id="[[${answer.id}]]"></i>
          <!-- 대댓글 입력 폼 -->
          <div id="reply-form-[[${answer.id}]]" class="reply-form" style="display: none">
            <input type="text" class="reply-name" placeholder="대댓글 작성자" />
            <input type="text" class="reply-content" placeholder="대댓글 내용" />
            <button class="submit-reply-button">작성</button>
          </div>
        </div>
      </div>
      <div class="answer-box"></div>
    </div>

    <!--파일-->
    --파일,이미지 기능

    <div class="tool-box" id="answer-tool-box">
      <tr class="article-info">
        좋아요수~
        <i class="fa fa-heart" id="answer-like"></i>
        <i class="fa fa-trash" id="answer-deletebtn"></i>
        <div class="btn">
          <button class="editbtn" id="editbtn">수정</button>
          <button class="deletebtn" id="deletebtn">삭제</button>
          <!--<a href="#" class="btn green rounded">Button</a>-->
        </div>
      </tr>
    </div>

    <div class="comments-container">
      <ul id="comments-list" class="comments-list">
        <!-- 댓글이 여기에 추가될 예정 -->
      </ul>
      <!-- 새 댓글 작성부분 -->
      <div class="input-box">
        <div class="inputframe">
          <br />
          <h5>New Comment: <input type="text" class="input-text" id="newComment" /></h5>
          <button class="new-comment-btn" id="add-comment-button">작성</button>
        </div>
      </div>
    </div>

    <script>
      let userName = $('.member-nickname').text(); // 로그인 유저 닉네임
      let name = $('#post-writer').text(); // post 작성자
      let postId = $('#postId').val();

      //버튼 구현
      var qabtn = document.getElementById('qabtn'); //답변등록 버튼
      qabtn.addEventListener('click', function () {
        window.open('/answer/' + postId, 'aEnroll');
      });

      var editbtn = document.getElementById('editbtn'); //수정 버튼
      editbtn.addEventListener('click', function () {
        location.href = 'edit-post/' + postId;
      });

      var deletebtn = document.getElementById('deletebtn'); //삭제 버튼
      deletebtn.addEventListener('click', function () {
        location.href = '/delete-post/' + postId;
      });

      if (userName !== name || userName === '')
        //비회원이거나, 글쓴이가 아닐때
        editbtn.style.display = 'none';
      deletebtn.style.display = 'none';

      // 댓글 데이터
      const commentsData = [
        {
          name: '최유현',
          content: '첫번째 댓글~~~.',
          replies: [
            { name: '최쌤 대댓글1', content: 'ㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇ' },
            { name: '최쌤 대댓글2', content: 'ㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇ' },
          ],
        },
        {
          name: '김진짜',
          content: '두번쨰 댓글~~~',
          replies: [{ name: '김진수', content: 'blalbalbalbalba' }],
        },
      ];

      // 댓글 작성 버튼 클릭 시 실행되는 함수
      function onWriteButtonClick() {
        const newCommentInput = document.getElementById('newComment');
        const newCommentText = newCommentInput.value;

        // 입력된 값을 commentsData에 추가
        commentsData.push({
          name: userName, // 로그인 유저의 이름을 사용
          content: newCommentText,
          replies: [], // 대댓글은 빈 배열로 초기화
        });

        // 추가된 댓글을 UI에 반영하는 로직을 호출
        addComments();

        // 입력 필드 초기화
        newCommentInput.value = '';
      }

      // "작성" 버튼에 클릭 이벤트 리스너 등록
      const writeButton = document.getElementById('add-comment-button');
      writeButton.addEventListener('click', onWriteButtonClick);

      // 대댓글 작성 버튼과 대댓글 입력 폼 관련 코드 추가
      function addReplyButtonsAndForms() {
        const replyButtons = document.getElementsByClassName('fa-reply');
        for (const button of replyButtons) {
          button.addEventListener('click', function () {
            const answerId = parseInt(this.dataset.answerId);
            const replyForm = document.getElementById(`reply-form-${answerId}`);
            if (replyForm) {
              // 유효한 replyForm을 찾은 경우에만 스타일 변경
              if (replyForm.style.display === 'none') {
                replyForm.style.display = 'block';
              } else {
                replyForm.style.display = 'none';
              }
            }
          });
        }

        const submitReplyButtons = document.getElementsByClassName('submit-reply-button');
        for (const button of submitReplyButtons) {
          button.addEventListener('click', function () {
            const answerId = parseInt(this.parentElement.id.split('-')[2]);
            const replyForm = this.parentElement;
            const replyNameInput = replyForm.querySelector('.reply-name');
            const replyContentInput = replyForm.querySelector('.reply-content');
            const newReplyName = replyNameInput.value;
            const newReplyContent = replyContentInput.value;

            // 입력된 값을 commentsData에 추가 (대댓글을 해당 댓글의 replies 배열에 추가)
            commentsData.forEach((comment) => {
              if (comment.id === answerId) {
                comment.replies.push({
                  name: newReplyName,
                  content: newReplyContent,
                });
              }
            });

            // 대댓글 입력 폼 초기화
            replyNameInput.value = '';
            replyContentInput.value = '';

            // 추가된 대댓글을 UI에 반영하는 로직을 호출
            addComments();
          });
        }
      }

      // 함수를 호출하여 댓글과 대댓글을 추가하는 로직
      function addComments() {
        const commentsList = document.getElementById('comments-list');

        // 댓글 추가 전에 기존 댓글 및 대댓글을 초기화
        commentsList.innerHTML = '';

        // 댓글 추가
        commentsData.forEach((comment, commentIndex) => {
          const commentElement = `
          <li>
            <div class="comment-main-level">
              <div class="comment-avatar">
                <img src="../static/img/colony.jpg" alt="" />
              </div>
              <div class="comment-box">
                <div class="comment-head">
                  <h6 class="comment-name">${comment.name}</h6>
                  <i class="fa fa-reply" data-answer-id="${commentIndex}"></i>
                </div>
                <div class="comment-content">${comment.content}</div>
              </div>
            </div>
          </li>
        `;
          commentsList.innerHTML += commentElement;

          // 대댓글 추가
          if (comment.replies && comment.replies.length > 0) {
            const repliesList = `
            <ul class="comments-list reply-list">
              <!-- 대댓글이 여기에 추가될 예정 -->
            </ul>
          `;
            const commentItem = commentsList.lastElementChild;
            commentItem.querySelector('.comment-box').innerHTML += repliesList;

            const replyList = commentItem.querySelector('.reply-list');
            comment.replies.forEach((reply) => {
              const replyElement = `
              <li>
                <div class="comment-avatar">
                  <img src="../static/img/colony.jpg" alt="" />
                </div>
                <div class="comment-box">
                  <div class="comment-head">
                    <h6 class="comment-name">${reply.name}</h6>
                  </div>
                  <div class="comment-content">${reply.content}</div>
                </div>
              </li>
            `;
              replyList.innerHTML += replyElement;
            });
          }
        });

        // 대댓글 작성 버튼과 폼 이벤트 리스너를 추가
        addReplyButtonsAndForms();
      }

      // 로직 실행
      addComments();
    </script>
    <div th:replace="~{layouts/footer :: footer}"></div>
  </body>
</html>
