<div class="comments-container">
  <ul id="comments-list" class="comments-list">
    <li>
      <div class="comment-main-level">
        <!-- 아바타아이콘 -->
        <div class="comment-avatar">
          <img src="../static/img/colony.jpg" alt="" />
        </div>
        <!--댓글 부분 파트-->
        <div class="comment-box">
          <div class="comment-head">
            <h6 class="comment-name" id="comment-name">최유현</h6>
            <i class="fa fa-reply" id="replyComment"></i>
            <i class="fa fa-heart" id="like"></i>
          </div>
          <div class="comment-content" id="comment-text">
            댓글텍스트입니다.댓글텍스트입니다.댓글텍스트입니다.댓글텍스트입니다.댓글텍스트입니다.댓글텍스트입니다.댓글텍스트입니다.댓글텍스트입니다.댓글텍스트입니다.
          </div>
        </div>
      </div>

      <ul class="comments-list reply-list">
        <li>
          <div class="comment-avatar">
            <img src="../static/img/colony.jpg" alt="" />
          </div>
          <div class="comment-box">
            <div class="comment-head">
              <h6 class="comment-name" id="">바규진</h6>
            </div>
            <div class="comment-content">
              댓글텍스트입니다.댓글텍스트입니다.댓글텍스트입니다.댓글텍스트입니다.댓글텍스트입니다.댓글텍스트입니다.댓글텍스트입니다.댓글텍스트입니다.댓글텍스트입니다.
            </div>
          </div>
        </li>

        <li>
          <div class="comment-avatar">
            <img src="../static/img/colony.jpg" alt="" />
          </div>

          <div class="comment-box">
            <div class="comment-head">
              <h6 class="comment-name">김진짜</h6>
            </div>
            <div class="comment-content">대댓글 2차부분</div>
          </div>
        </li>
      </ul>
    </li>

    <li>
      <div class="comment-main-level">
        <!-- Avatar -->
        <div class="comment-avatar">
          <img src="../static/img/colony.jpg" alt="" />
        </div>

        <div class="comment-box">
          <div class="comment-head">
            <h6 class="comment-name">승쥐</h6>
            <i class="fa fa-reply"></i>
            <i class="fa fa-heart"></i>
          </div>
          <div class="comment-content">두번째 댓글 입니다.</div>
        </div>
      </div>
    </li>
  </ul>
</div>
